<footer class="bg-zinc-900  p-10">
  <div class="grid grid-flow-row grid-cols-4 mb-10">
    <!-- ------------ -->
    <div class="col-span-3 grid grid-flow-row grid-cols-3  gap-5">
      <div class= " flex flex-col justify-between">
        <div>
          <img class="logo" src="../../../assets/asserts/logo.png" alt="">
          <p class="text-zinc-400 text-sm mt-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui saepe autem labore vitae quam a quidem, nostrum aperiam laborum animi perspiciatis eligendi porro mollitia eius possimus ut repellendus nemo. Magnam?</p>
        </div>
        <div>
          <ul class="flex gap-x-5">
            <li class="text-white"><a href=""><i class="bi bi-facebook"></i></a></li>
            <li class="text-white"><a href=""><i class="bi bi-instagram"></i></a></li>
            <li class="text-white"><a href=""><i class="bi bi-twitter"></i></a></li>
            <li class="text-white"><a href=""><i class="bi bi-youtube"></i></a></li>
            <li class="text-white"><a href=""><i class="bi bi-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="col-span-1 flex justify-center">
        <div>
          <p class="text-zinc-700">Info Links</p>
          <ul class="text-white text-sm mt-5 leading-8">
            <li class="capitalize font-light" ><a href="">home</a></li>
            <li class="capitalize font-light" ><a href="">find raw matrial</a></li>
            <li class="capitalize font-light" ><a href="">be a partner</a></li>
            <li class="capitalize font-light" ><a href="">about us</a></li>
            <li class="capitalize font-light" ><a href="">contact us</a></li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="col-span-1 flex justify-center">
        <div>
          <p class="text-zinc-700">Company</p>
          <ul class="text-white text-sm mt-5 leading-8">
            <li class="capitalize font-light" ><a href="">privacy & policy</a></li>
            <li class="capitalize font-light" ><a href="">terms & condition</a></li>
            <li class="capitalize font-light" ><a href="">FAQ's</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- --------------- -->
    <div class=" col-span-1 px-4">
      <div class="p-6 bg-zinc-800 rounded-3xl">
        <p class="text-white text-lg font-semibold">Join Beta</p>
        <p class="mt-5 text-sm text-white font-extralight">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo hic ipsum, eum doloremque debitis, ducimus nobis fugiat voluptatum voluptates architecto ullam facere recusandae. Quas nemo necessitatibus explicabo molestias esse et!</p>
        <button class="w-full p-3 mt-10 rounded-xl bg-primary text-black font-semibold">Join Beta Now!</button>
      </div>
      <button class="bg-zinc-800 mt-5 w-full text-left py-3 px-6 rounded-xl">
        <div class="">
          <p class="text-white text-sm font-light">Want to Discuss ?</p>
          <p class="text-xl text-primary">Arrange Meeting</p>
        </div>
      </button>
    </div>
  </div>
  <hr>
  <div class="text-white text-xs py-3">
    <p>Copyright © ProducTRY All Rights Reserved</p>
  </div>
</footer>
