<footer class="bg-zinc-900  p-10">
  <div class="grid grid-flow-row grid-cols-4 mb-10">
    <!-- ------------ -->
    <div class="col-span-3 grid grid-flow-row grid-cols-3  gap-5">
      <div class= " flex flex-col justify-between">
        <div>
          <img class="logo" src="../../../assets/asserts/logo.png" alt="">
          <p class="text-zinc-400 text-sm mt-5">ProducTry is Building a intelligent raw material selection and procurement Platform for innovators and researchers working on Hardware Product Development Process.</p>
        </div>
        <div>
          <ul class="flex gap-x-5">
            <li class="text-white"><a class="hover:text-blue-400 text-xl" href=""><i class="bi bi-facebook"></i></a></li>
            <li class="text-white"><a class="hover:text-blue-400 text-xl" href=""><i class="bi bi-instagram"></i></a></li>
            <li class="text-white"><a class="hover:text-blue-400 text-xl" href=""><i class="bi bi-twitter"></i></a></li>
            <li class="text-white"><a class="hover:text-blue-400 text-xl" href=""><i class="bi bi-youtube"></i></a></li>
            <li class="text-white"><a class="hover:text-blue-400 text-xl" href=""><i class="bi bi-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="col-span-1 flex justify-center">
        <div>
          <p class="text-zinc-500">Info Links</p>
          <ul class="text-white text-sm mt-5 leading-8">
            <li class="capitalize font-light" ><a class="hover:text-blue-400" href="">home</a></li>
            <li class="capitalize font-light" ><a class="hover:text-blue-400" href="">find raw matrial</a></li>
            <li class="capitalize font-light" ><a class="hover:text-blue-400" href="">be a partner</a></li>
            <li class="capitalize font-light" ><a class="hover:text-blue-400" href="">about us</a></li>
            <li class="capitalize font-light" ><a class="hover:text-blue-400" href="">contact us</a></li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="col-span-1 flex justify-center">
        <div>
          <p class="text-zinc-500">Company</p>
          <ul class="text-white text-sm mt-5 leading-8">
            <li class="capitalize font-light" ><a class="hover:text-blue-400" href="">privacy & policy</a></li>
            <li class="capitalize font-light" ><a class="hover:text-blue-400" href="">terms & condition</a></li>
            <li class="capitalize font-light" ><a class="hover:text-blue-400" href="">FAQ's</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- --------------- -->
    <div class=" col-span-1 px-4">
      <div class="p-6 bg-zinc-800 rounded-3xl">
        <p class="text-white text-lg font-semibold">Join Beta</p>
        <p class="mt-5 text-sm text-white font-extralight">Be the first to benefit from our services by signing up for our Beta program, while we're still in the development phase and improving our offerings.</p>
        <button class="w-full p-3 mt-10 rounded-xl bg-primary text-black font-semibold">Join Beta Now!</button>
      </div>
      <button class="bg-zinc-800 mt-5 w-full text-left py-3 px-6 rounded-xl">
        <div class="">
          <p class="text-white text-sm font-light">Want to Discuss ?</p>
          <p class="text-xl text-primary">Arrange Meeting</p>
        </div>
      </button>
    </div>
  </div>
  <hr>
  <div class="text-white text-xs py-3">
    <p>Copyright © ProducTRY All Rights Reserved</p>
  </div>
</footer>
