<nav class=" w-full h-auto">
  <div class="flex justify-between items-center px-10 py-5">
    <div>
      <img class="logo" src="../../../assets/asserts/logo.png" alt="">
    </div>
    <div>
      <ul class="flex items-center gap-x-8 text-sm">
        <li class="capitalize"><a class="nav-links active" href="">home</a></li>
        <li class="capitalize"><a class="nav-links " href="">Find Raw Matrial</a></li>
        <li class="capitalize"><a class="nav-links " href="">Be a Partner</a></li>
        <li class="capitalize"><a class="nav-links " href="">About us</a></li>
        <li class="capitalize"><a class="nav-links " href="">Conatct Us</a></li>
        <li class="capitalize"><a class="bg-secondary text-white px-5 py-2 rounded-full" href="">join Beta</a></li>
      </ul>
    </div>
  </div>
</nav>
