<nav class="w-full h-[5rem] bg-white sticky top-0 z-50">
  <div class="flex justify-between items-center px-10 py-5">
    <div>
      <img class="logo" src="../../../assets/asserts/logo.png" alt="" />
    </div>
    <div>
      <ul class="flex items-center gap-x-8 text-sm">
        <li class="capitalize">
          <a
            class="nav-links"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >home</a
          >
        </li>
        <li class="capitalize">
          <a
            class="nav-links"
            routerLink="/rawmatrial"
            routerLinkActive="active"
            >Find Raw Matrial</a
          >
        </li>
        <li class="capitalize">
          <a class="nav-links" routerLink="/partner" routerLinkActive="active"
            >Be a Partner</a
          >
        </li>
        <li class="capitalize">
          <a class="nav-links" routerLink="/about" routerLinkActive="active"
            >About us</a
          >
        </li>
        <li class="capitalize">
          <a class="nav-links" routerLink="/contact" routerLinkActive="active"
            >Conatct Us</a
          >
        </li>
        <li class="capitalize">
          <a class="btn-dblue px-5 py-2 rounded-full" routerLink="/beta"
            >join Beta</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
