.info-side{height: calc(100vh - 5rem);}
.info-head{position: relative; color: rgb(190, 190, 190);font-size: .75rem;font-weight: 300;margin-left: 3.5rem;}
.info-head::before{content: ''; position: absolute; width: 3rem;height: 2px;background-color: rgb(190, 190, 190);top: 50%;left: -3.3rem;border-radius: 5px;}
