<app-navbar></app-navbar>
<div class="w-full min-h-[100vh]">
  <div class="h-32 bg-primary flex items-center">
    <p class="text-3xl text-white px-4 md:px-16">Privacy Notice</p>
  </div>
  <div class="px-4 md:px-16 mt-6">
    <p class="text-2xl text-primary mt-6">
      YOUR PRIVACY IS IMPORTANT TO PRODUCTRY
    </p>
    <div class="px-4 mt-4">
      <p class="text-black text-justify">
        This Privacy Notice ("Notice") is adopted by Metals , Chemicals,
        Ceramics, Composites ,Natural Materials and other entities that directly
        or indirectly are controlled by each Materials and Affiliates being
        collectively referred to as “ProducTRY”, "we", "us". <br /><br />
        Important things to note:<br /><br />
      </p>
      <ul class="list-disc pl-8">
        <li class="text-justify">
          You can contact us using the information in the “contact us” section
          of the website:
          <a class="text-primary" href="https://productry.in/contact"
            >"https://productry.in/contact"</a
          >
        </li>
        <li class="text-justify">
          A full list of ProducTRY entities who may process your information is
          also available there.
        </li>
        <li class="text-justify">
          We may send you information about our products and services. To learn
          more about when and how we do this and how you can change your contact
          or marketing preferences at any time.
        </li>
        <li class="text-justify">
          We use cookies and tracking technology on our Site. To learn more
          about how we use these technologies and how you can control your
          setting.
        </li>
        <li class="text-justify">
          We may share your personal information with other third parties. To
          learn more about who we share your information with and how we ensure
          your personal information is protected.
        </li>
        <li class="text-justify">
          Some of your personal information will be transferred outside your
          country of residence. To learn more about where we transfer your
          personal information to and the measures we have in place to
          adequately secure your personal information.
        </li>
        <li class="text-justify">
          You might find external links to third party websites, including
          social media websites, on our Site. We have no control over these
          websites. To learn more about the precautions you should take.
        </li>
      </ul>
    </div>
    <div class="px-4 mt-4">
      <p class="text-black text-justify">
        Legal compliance<br /><br />
        Unless stated otherwise, ProducTRY is the data controller in respect of
        all personal data collected by us on this website or otherwise. This
        means that we are responsible for ensuring that we do so in full
        compliance with the General Data Protection Regulation, all other
        related privacy laws and any codes of practice issued by the Information
        Commissioner’s Office or any other data protection supervisory authority
        where we are active.<br /><br />
        ProducTRY understands your concerns about the privacy of data you may
        provide us, or which we obtain through your use of the ProducTRY Website
        (“Site”) or the services we provide to our prospective customers and
        customers ("Services").<br /><br />
        This Notice provides you with information about:
      </p>
      <ul class="list-disc pl-8">
        <li class="text-justify">
          Who we collect information from and the information we collect >
        </li>
        <li class="text-justify">
          Who we collect information from and the information we collect
        </li>
        <li class="text-justify">
          How we use cookies and other tracking technologies
        </li>
        <li class="text-justify">Who we disclose your information to</li>
        <li class="text-justify">International transfers</li>
        <li class="text-justify">How we protect and store your information</li>
        <li class="text-justify">Retention of your personal information</li>
        <li class="text-justify">
          How this notice applies to links and third-party websites
        </li>
        <li class="text-justify">
          Your rights and how to opt out or request changes to your personal
          information
        </li>
        <li class="text-justify">
          How we notify you of changes to this privacy policy
        </li>
        <li class="text-justify">
          How we notify you of changes to this privacy policy
        </li>
      </ul>
    </div>
    <div class="px-4 mt-4">
      <p class="text-black text-justify">
        WHO WE COLLECT INFORMATION FROM AND THE INFORMATION WE COLLECT
        <br /><br />
        Who we collect information from<br /><br />
        ProducTRY collects information from the following data subjects:<br /><br />
      </p>
      <ul class="list-disc pl-8">
        <li class="text-justify">Site users;</li>
        <li class="text-justify">
          individual prospective customers & customers;
        </li>
        <li class="text-justify">
          representatives of corporate prospective customers & customers;
        </li>
        <li class="text-justify">
          ProducTRY suppliers and business partners and their personnel;
        </li>
        <li class="text-justify">
          job applicants, collectively referred to as "you" in this Notice.
        </li>
      </ul>
    </div>
    <div class="px-4 mt-4">
      <p class="text-black text-justify">
        Children<br /><br />
        The Site is not intended for or directed at children under the age of 16
        and we will never knowingly collect Personal Information from
        individuals under this age.<br /><br />
        We collect Personal and Aggregate Information.<br /><br />
        We collect two types of information from you: “Personal Information”
        (anything which identifies you as an individual, either on its own or by
        reference to other information) and “Aggregate Information”
        (non-personally identifiable and anonymous data).<br /><br />
        On our Site, Personal Information (such as your name, address, telephone
        number, or email address) is collected when you voluntarily submit it
        through a Site form, such as during a request for product information.
        Other information that may also constitute Personal Information (such as
        your browser type, operating system, IP address, domain name, number of
        times you visited the Site, dates you visited the Site, and the amount
        of time you spent viewing the Site) may be collected via cookies and
        other tracking technologies.<br /><br />
        Aggregate Information (such as how many times visitors log onto this
        Site) may also be collected.<br /><br />
        Outside of this Site, Personal Information may also be collected
        directly by us or by our representatives when you enter into a contract
        with us, apply for a job with us, provide us with goods or services,
        contact us to make enquiries or complaints via telephone, email or by
        post or otherwise interact with us in the course of our business
        operations. We or a ProducTRY representative may collect your business
        contact details and information about your profession, as well as
        information about you if you attend meetings, events or conferences that
        we organize or are present at, or if you sign up to our newsletters.<br /><br />
        We will indicate to you where the provision of certain Personal
        Information is required in order for us to provide you or the
        organization you represent with our services or certain features of the
        Site. If you choose not to provide such Personal Information, we may not
        be able to provide you with our services or access to certain aspects of
        the Site.<br /><br />
        Source of your Personal Information.<br /><br />
        We will collect most of the Personal Information referred to above from
        you directly. However, there may be circumstances where we collect
        Personal Information about you indirectly from the following third
        parties:<br /><br />
      </p>
      <ul class="list-disc pl-8">
        <li class="text-justify">
          Your employer, colleagues or business partners;
        </li>
        <li class="text-justify">Our professional advisors;</li>
        <li class="text-justify">
          Recruiters, referees and governmental agencies (if you apply for a job
          with us);
        </li>
        <li class="text-justify">
          Publicly available sources, such as Companies House and social media
          networks (such as LinkedIn); and
        </li>
        <li class="text-justify">Analytics providers.</li>
      </ul>
    </div>
    <div class="px-4 mt-4">
      <p class="text-black text-justify">
        HOW WE USE THE INFORMATION WE COLLECT<br /><br />
        The purposes for which we use your Personal Information<br /><br />
        As a data controller, we will only use your Personal Information if we
        have a legal basis for doing so. The table at Annex 1 sets out how we
        use the Personal Information we collect about you and the legal basis
        which we rely on to process the Personal Information.<br /><br />
        More generally, we process Personal Information:
        <br /><br />
      </p>
      <ul class="list-disc pl-8">
        <li class="text-justify">
          to answer your specific inquiry or respond to your complaints. For
          example, if you contact us with a technical question, we will use your
          contact information and technical information to resolve the issue;
        </li>
        <li class="text-justify">to administer and enhance the Site;</li>
        <li class="text-justify">
          for our general business purposes, such as the administration of your
          customer account, to invite you to events, to interact with you in the
          course of our business relationship, deal with your queries or for
          marketing or sales purposes;
        </li>
        <li class="text-justify">
          in connection with a proposed or actual sale, merger or transfer of
          all or a portion of a business or division;
        </li>
        <li class="text-justify">to process job applications;</li>
        <li class="text-justify">
          to satisfy legal or regulatory requirements;
        </li>
        <li class="text-justify">as otherwise described in this Notice; and</li>
        <li class="text-justify">
          at your option, to send you additional marketing materials relating to
          ProducTRY.
        </li>
      </ul>
    </div>
    <div class="px-4 mt-4">
      <p class="text-black text-justify">
        Direct Marketing <br /><br />
        We would like to use your Personal Information to provide you with
        information about products and services which we think may be of
        interest to you or your employer. We will only send you such materials
        by email and/or contact you by telephone if you have given us your prior
        express consent to receive such communications (“opt in”). <br /><br />
        If you no longer wish to receive marketing communications from
        ProducTRY, you can opt out at any time by clicking the opt-out link
        included in electronic communications, or by contacting us by email at:
        <a class="text-primary" href="mailto:operations@productry.in"
          >operations@productry.in</a
        >
        <br /><br />
        COOKIES & OTHER TRACKING TECHNOLOGIES<br /><br />
        We use cookies and similar technologies on our Site for various
        purposes, including improving your experience of the Site. For more
        information about cookies and why we use these, please refer to our
        Cookies Policy.<br /><br />
        WHO WE DISCLOSE YOUR INFORMATION TO<br /><br />
        We work with third parties to help manage our business, deliver services
        and as otherwise required to achieve the purposes set out in Annex 1. We
        and our service providers (as defined below) disclose and share your
        Personal Information:
        <br /><br />
      </p>
      <ul class="list-disc pl-8">
        <li class="text-justify">among ProducTRY and our Affiliates;</li>
        <li class="text-justify">
          to third party service providers (“Service Providers”) that perform
          services for us or on our behalf (including those which may process
          job applicant information, provide courier services, help manage our
          IT and back office systems, or distribute marketing materials). Such
          Service Providers are required under their contract with us, to handle
          your Personal Information in accordance with applicable laws and
          principles related to privacy and data protection;
        </li>
        <li class="text-justify">
          for credit card payments we employ a third party to process these
          payments on our behalf. This third party will only have access to the
          Personal Information which you provide directly to them when you make
          a credit card payment. They are required under their contract with us
          to process this Personal Information securely and in accordance with
          all relevant Data Protection laws. We will not collect or store any
          credit card details; this third party being the sole data controller
          of that data. When you pay for any goods, you will be taken to a link
          to this third party’s website in order to conclude the sale;
        </li>
        <li class="text-justify">
          to a third party in connection with a proposed or actual sale, merger,
          or transfer of all or a portion of a business or division; and
        </li>
        <li class="text-justify">
          to a third party in connection with a proposed or actual sale, merger,
          or transfer of all or a portion of a business or division; and
        </li>
      </ul>
    </div>

    <div class="px-4 mt-4">
      <p class="text-black text-justify">
        Any access to such information will be limited to the purpose for which
        such information was provided to us or our Service Providers, as
        explained in the "How we use the information we collect" section above.
        <br /><br />
        HOW WE PROTECT AND STORE YOUR INFORMATION<br /><br />
        We take the security of the information we collect seriously. We have
        implemented and we maintain technical and organisational security
        measures, policies and procedures intended to reduce the risk of
        accidental destruction or loss, or the unauthorized disclosure or access
        to such information appropriate to the nature of the data concerned.
        Some of the steps we take are: placing confidentiality requirements on
        our staff members and Service Providers; destroying or permanently
        anonymising Personal Information if it is no longer needed for the
        purposes for which it was collected.<br /><br />
        RETENTION OF YOUR PERSONAL INFORMATION<br /><br />
        We will retain your Personal Information for as long as is reasonably
        necessary for the purposes for which it was collected, as explained in
        this Notice. Customer data will be retained for a period of 7 years from
        the date of last transaction with us, after which it will be deleted,
        anonymised or pseudonymised if required. In some circumstances we may
        retain your Personal Information for longer periods of time, for
        instance where we are required to do so in accordance with legal,
        regulatory, tax or accounting requirements.<br /><br />
        In specific circumstances we may retain your Personal Information for
        longer periods of time so that we have an accurate record of your
        dealings with us in the event of any complaints or challenges, or if we
        reasonably believe there is a prospect of litigation relating to your
        Personal Information or dealings.<br /><br />
        Where we have obtained your Personal Information in order to provide you
        with marketing information for our products and services, your Personal
        Information will be stored by us only as long as you do not change your
        mind to receive such materials from ProducTRY, in order to avoid future
        contact with you for marketing purposes. We maintain a data retention
        notice which we apply to records in our care. Where your Personal
        Information is no longer required we will ensure it is securely
        deleted.<br /><br />
        LINKS AND THIRD-PARTY WEB SITES<br /><br />
        Applicability of this Notice<br /><br />
        In addition to the information collected offline, this Notice applies to
        the Personal Information collected on this Site. This Site includes
        links to both our affiliated web sites and to non-affiliated web sites,
        including access to content, products and services of such affiliated
        and non-affiliated sites. Although some of the entities controlling
        these sites are under contract with us, not all of them are, so we
        advise you to familiarise yourself with the individual privacy notice
        and other terms for each linked web site prior to submitting your
        Personal Information. We are not responsible for and do not have control
        over their terms of use or privacy notices, have not reviewed them and
        we do not accept any liability with respect to the content of these web
        sites or how they use, store or secure your Personal Information.<br /><br />
        YOUR RIGHTS AND HOW TO OPT OUT OR REQUEST CHANGES<br /><br />
        Subject to certain exemptions, and in some cases dependent upon the
        processing activity we are undertaking, you have certain rights in
        relation to your Personal Information:
        <br /><br />
      </p>
      <ul class="list-disc pl-8">
        <li class="text-justify">
          To access Personal Information: You have the right to obtain access to
          the Personal Information we hold about you.
        </li>
        <li class="text-justify">
          To rectify Personal Information: You have the right to obtain
          rectification of any inaccurate or incomplete Personal Information we
          hold about you without undue delay.
        </li>
        <li class="text-justify">
          To erase Personal Information: You have the right, in some
          circumstances, to require us to erase your Personal Information
          without undue delay if the continued processing of that Personal
          Information is not justified.
        </li>
        <li class="text-justify">
          To withdraw your consent: You have the right to withdraw your consent
          at any time to any processing carried out on the basis of your
          consent.
        </li>
        <li class="text-justify">
          To restrict the processing of your Personal Information: You have the
          right, in some circumstances, to require us to limit the purposes for
          which we process your Personal Information if the continued processing
          of the Personal Information in this way is not justified, such as
          where the accuracy of the Personal Information is contested by you.
        </li>
        <li class="text-justify">
          To transfer your Personal Information: You have the right, in certain
          circumstances, to receive a copy of the Personal Information you have
          provided to us in a structured, commonly used, machine-readable format
          that supports re-use, or to request the transfer of your Personal
          Information to another person.
        </li>
        <li class="text-justify">
          To object to the processing of Personal Information: You have a right
          to object to any processing based on our legitimate interests in
          certain circumstances.
        </li>
        <li class="text-justify">
          Right to object to how we use your Personal Information for direct
          marketing purposes: You can object to us processing your Personal
          Information for direct marketing purposes at any time by following the
          instructions in the “Direct Marketing” section above.
        </li>
      </ul>
    </div>
    <div class="px-4 mt-4">
      <p class="text-black text-justify">
        We may ask you for additional information to confirm your identity and
        for security purposes, before disclosing the Personal Information
        requested to you. We reserve the right to charge a fee where permitted
        by law, for instance if your request is manifestly unfounded or
        excessive. <br /><br />
        You can exercise your rights by contacting us at:
        <a class="text-primary" href="mailto:operations@productry.in"
          >operations@productry.in</a
        >
        Subject to legal and other permissible considerations, we will make
        every reasonable effort to honour your request promptly or inform you if
        we require further information in order to fulfil your request.<br /><br />
        We may not always be able to fully address your request, for example if
        it would impact the duty of confidentiality we owe to others, or if we
        are legally entitled to deal with the request in a different way.<br /><br />
        Right to lodge a complaint with your local supervisory authority<br /><br />
        We ask that you please attempt to resolve any issues with us first,
        although you have a right to contact your supervisory authority at any
        time.<br /><br />
        NOTIFICATION OF CHANGES<br /><br />
        Privacy laws and practice are constantly developing and we aim to meet
        high standards. Our policies and procedures are, therefore, under
        continual review. We may, from time to time, update our security and
        privacy policies. If we want to make any significant changes in how we
        will use your personal data we will contact you directly and, if
        required, seek your consent.<br /><br />
        Notwithstanding the above, we recommend that you check this Notice every
        time you visit our Site or provide us with your Personal Information
        offline as we may update this Notice from time to time, by posting the
        amended Notice on this Site. Any changes will be effective when posted
        and your continued use of the Site or not objecting to the use of your
        Personal Information will indicate your acknowledgement of any
        changes.<br /><br />
        CONTACT US<br /><br />
        If you have any questions, concerns or complaints regarding our
        compliance with this Notice and the data protection laws or if you wish
        to exercise your rights, please contact us at:
        <a class="text-primary" href="mailto:operations@productry.in"
          >operations@productry.in</a
        >
        <br /><br />
        Questions regarding this Notice<br /><br />
        If you have questions concerning this Notice, please contact via email
        at:
        <a class="text-primary" href="mailto:operations@productry.in"
          >operations@productry.in</a
        >
        <br /><br />
      </p>
    </div>
  </div>
  <div class="px-5 flex justify-center my-10">
    <div
      class="md:w-3/4 bg-blue-100 p-5 rounded-2xl flex justify-between items-center"
    >
      <div class="lg:flex gap-x-5 items-center">
        <div class="w-[3.5rem] h-[3.5rem]">
          <img
            class="img-contain"
            src="../../../assets/asserts/Avatar.png"
            alt=""
          />
        </div>
        <div>
          <p class="text-primary text-lg font-medium">
            Have a question about our Privacy Policy?
          </p>
          <p class="text-sm">Talk to our friendly team</p>
        </div>
      </div>
      <div>
        <button
          class="bg-secondary p-3 px-5 rounded-lg text-white"
          routerLink="/contact"
        >
          Get in Touch
        </button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
