<app-navbar></app-navbar>
<div class="w-full min-h-[100vh]">
  <div class="h-32 bg-primary flex items-center">
    <p class="text-3xl text-white px-4 md:px-16">Terms & Conditions</p>
  </div>
  <div class="px-4 md:px-16 mt-6">
    <p class="text-2xl text-primary mt-6">1. General</p>
    <div class="px-4 mt-4">
      <p class="text-black">1.1 In these Conditions:<br /><br /></p>
      <div class="px-4">
        <p class="text-black text-justify">
          1.1.1 the following expressions shall have the following meanings:-<br /><br />
        </p>
        <p class="text-black text-justify">
          "Buyer" the individual firm company or other party from whom an order
          to supply Goods and/or Services is received by the Seller;<br /><br />
          "Conditions" the standard terms and conditions of sale of the Seller
          as set out herein and includes any additional terms and conditions of
          sale agreed in writing by the Seller; <br /><br />"Contract" a
          contract for the Supply of Goods and/or Services by the Seller to the
          Buyer;<br /><br />
          "Date of Delivery" the date on which delivery of the Goods or Services
          takes place pursuant to Condition 7; <br /><br />"Goods" the goods
          which the Seller is to supply (or, in relation to Condition 11, the
          goods in respect of which the Seller is to provide Services) under the
          Contract and includes any of them or any part of them and where the
          context so admits includes raw materials, processed materials and/or
          manufactured products whether processed or manufactured by the Seller
          or not;<br /><br />
          "Prepayment" a payment to be made by the Buyer pursuant to Condition
          6.2 to be used at the Seller's discretion for the purchase of
          materials and/or towards the costs of labour and other costs relating
          to the supply of Goods;<br /><br />
          "Recommendations the recommendations (if any) relating to the for Use"
          storage, handling, application and/or use of the Goods contained in
          the published literature of the Seller (or, if relevant, a Supplier)
          or any recommendations made in Writing by an authorised representative
          of the Seller (or, if relevant, a Supplier);<br /><br />
          "Seller" Goodfellow Cambridge Limited and any subsidiary or holding
          company or associate (as such terms are defined in the Companies Act
          1985 (as amended)) of the said company;<br /><br />
          "Services" the work or services or any of them to be provided by the
          Seller under the Contract;<br /><br />
          "Supplier" any person, firm or company who or which supplies materials
          to the Seller which make up the Goods which are to be supplied to the
          Buyer; <br /><br />
        </p>
      </div>
      <div class="px-4">
        <p class="text-black text-justify">
          1.1.2 words importing the singular number shall include the plural and
          vice versa, words importing one gender shall include all genders, and
          words importing persons shall include bodies corporate, unincorporated
          associations and partnerships <br /><br />
        </p>
      </div>
      <p class="text-black text-justify">
        1.2 If satisfactory references and information on the Buyer are not
        provided within seven days of a request therefore by the Seller, or if,
        following the provision of such information, the Seller is unable to
        obtain satisfactory trade indemnity or similar cover in respect of its
        dealings with the Buyer, the Seller may terminate the Contract and the
        rights and liabilities of the parties shall be the same as if the
        Contract had been cancelled in accordance with the provisions of
        Condition 10.2 <br /><br />

        1.3 The seller reserves the right to assign, sub-contract the Contract
        or any part thereof. The Buyer shall not be entitled to assign the
        benefit or burden of the Contract without the consent in writing of the
        Seller <br /><br />

        1.4 In relation to all obligations of the Buyer under these Conditions,
        the time of performance is of the essence<br /><br />

        1.5 The legal construction of these Conditions shall not be affected by
        their headings which are for convenience of reference only
      </p>
    </div>
  </div>
  <div class="px-4 md:px-16 mt-6">
    <p class="text-2xl text-primary mt-6">2. Order</p>
    <div class="px-4 mt-4">
      <p class="text-black text-justify">
        2.1 Notwithstanding that the Seller may have given a detailed quotation
        or estimate either verbally or in writing no order shall be binding on
        the Seller unless and until it has been acknowledged in writing by the
        Seller or the Goods are delivered or the Services are provided by the
        Seller to the Buyer pursuant to the order
        <br /><br />
        2.2 In order to avoid duplication of orders the Buyer shall be
        responsible for ensuring that any confirmation of an order previously
        placed is prominently marked as being a confirmation and not a new
        order. The Buyer acknowledges that any order or confirmation of order
        which is not so marked may be treated and accepted by the Seller as a
        new order to create a Contract in addition to any Contract arising out
        of the previously placed order<br /><br />
        2.3 These Conditions are incorporated in the Contract and together with
        any matter set out in the Seller's quotation or
        acceptance/acknowledgement of order contain the entire obligations
        between the Seller and the Buyer. In the case of any inconsistency
        between any letter or quotation incorporating or referring to these
        Conditions and any order, letter or form of contract sent by the Buyer
        to the Seller, whatever may be their respective dates, the provisions of
        these Conditions shall prevail. In the event of the Seller entering into
        the Contract without the Seller having submitted a written quotation or
        other letter or document incorporating or referring to these Conditions
        but in circumstances where the Buyer has had prior notice of these
        Conditions then all Goods or Services supplied shall be subject to these
        Conditions <br /><br />2.4 No variation of the Contract by the Buyer
        shall be binding upon the Seller unless made in Writing and signed on
        behalf of the Seller. In the event of such variation the Buyer shall
        indemnify and keep indemnified the Seller in full against all loss,
        which term shall include (but without prejudice to the generality
        thereof) loss of profit, costs (including the cost of labour and
        materials), damages, charges and expenses incurred (directly or
        indirectly) by the Seller as a result of such variation <br /><br />2.5
        Any representations (except fraudulent misrepresentations) or warranties
        made by or on behalf of the Seller prior to the Contract (whether
        verbally or in writing) are hereby expressly excluded and shall be of no
        effect
      </p>
    </div>
  </div>
  <div class="px-4 md:px-16 mt-6">
    <p class="text-2xl text-primary mt-6">3. Description</p>
    <div class="px-4 mt-4">
      <p class="text-black text-justify">
        3.1 Any figures, statements, descriptions, illustrations, photographs,
        drawings, weights or any other matters contained in the Seller's
        catalogues, pamphlets, price lists or advertising literature are not
        guaranteed to be accurate and are intended merely to represent a general
        picture of the Seller's products and shall not form part of the Contract
        nor be regarded as a warranty or representation relating to the Goods or
        Services <br /><br />
        3.2 The Seller reserves the right to amend the specification of its
        products and services from time to time so that the descriptions thereof
        as set out in its catalogues, pamphlets, price lists or advertising
        literature may not be identical with those set out in the Seller's
        quotation and the Buyer is advised to check the specification set out in
        the Seller's quotation before placing an order
      </p>
    </div>
  </div>
  <div class="px-4 md:px-16 mt-6">
    <p class="text-2xl text-primary mt-6">
      4. Specifications and Intellectual Property
    </p>
    <div class="px-4 mt-4">
      <p class="text-black text-justify">
        4.1 Where goods are supplied to the Buyer's own specification, or where
        standard goods of the Seller are altered in accordance with the Buyer's
        instructions the Buyer warrants and undertakes full responsibility for
        the suitability and fitness of the specification, pattern or design but
        also that such specification, pattern or design does not infringe any
        patent, trade mark, registered design, copyright or any other
        proprietary right of any third party and the Buyer shall indemnify and
        keep the Seller indemnified in full against any loss, damage or expense
        whatsoever (including costs) which the Seller may incur in or arising
        from the performance of the Contract by reason of any infringement of
        any such patent, trade mark, registered design, copyright or any other
        proprietary right <br /><br />
        4.2 The Seller reserves the right to change the Buyer's specification as
        required to ensure that the Goods comply with any health, safety or
        other statutory requirement or provision and no such change by the
        Seller will constitute a breach of contract or impose upon the Seller
        any liability whatsoever <br /><br />4.3 Unless otherwise agreed in
        writing, the Seller will be the sole owner of all inventions,
        formulations, tools, patterns, designs or other similar items and the
        copyright in all documents and drawings made or produced by it in
        preparing a quotation for the Buyer or in the course of work on any
        Contract with the Buyer
      </p>
    </div>
  </div>
  <div class="px-4 md:px-16 mt-6">
    <p class="text-2xl text-primary mt-6">5. Quotations</p>
    <div class="px-4 mt-4">
      <p class="text-black text-justify">
        5.1 The Seller's quotations are provisional in so far as they are
        subject to alteration by reference to any changes in the price of raw
        materials, any item to be acquired by the Seller from a third party,
        rates of wages, other costs of production and any other circumstances
        beyond the Seller's control taking place between the date of the
        quotation and the Buyer's placing of an order in respect thereof
      </p>
    </div>
  </div>
  <div class="px-4 md:px-16 mt-6">
    <p class="text-2xl text-primary mt-6">6. Price</p>
    <div class="px-4 mt-4">
      <p class="text-black text-justify">
        6.1 The Seller shall be entitled to adjust the Contract price of the
        Goods or Services whether before or after the making of the Contract in
        the event of any variation in the cost to the Seller of supplying the
        same or any part thereof caused by:- <br /><br />
      </p>
      <div class="px-4">
        <p class="text-black text-justify">
          6.1.1 any increase in the cost of materials required by the Seller for
          the completion of the Contract; or <br /><br />6.1.2 any increase in
          wages or production and manufacturing costs or other overheads; or
          <br /><br />
          6.1.3 any other reason whatsoever beyond the control of the Seller
          including (but without prejudice to the generality of the foregoing)
          fluctuations in exchange rates between monetary currencies the action
          of any government or any other authority or any labour problems<br /><br />
        </p>
      </div>
      <p class="text-black text-justify">
        6.2 In the Seller's absolute discretion, a Prepayment in respect of the
        Contract may be required to be paid by the Buyer to the Seller on the
        terms set out in this Condition. The Prepayment shall be applied as
        follows:-
        <br /><br />
      </p>
      <div class="px-4">
        <p class="text-black text-justify">
          6.2.1 in the event that the Contract is performed in full by both
          parties the Prepayment shall be retained by the Seller in reduction of
          the total price payable by the Buyer under the Contract;<br /><br />6.2.2
          in the event that the Buyer is either in default of any of its
          obligations under the Contract or cancels or suspends the Contract in
          accordance with Condition 10 the Prepayment shall be set off by the
          Seller against its proper costs losses or damages arising in
          connection with the default and/or cancellation or suspension<br /><br />
        </p>
      </div>
      <p class="text-black text-justify">
        6.3 Unless otherwise stated, the price set out in the Seller's quotation
        includes the cost of packaging, carriage, and (save as provided in
        Condition 6.4) insurance. In respect of supplies of Goods in other
        countries the price does not include import duties or GST or sales taxes
        which will be extra charges based on prevailing rates<br /><br />
        6.4 Where the Buyer requests a particular means of delivery, the price
        set out in the Seller's quotation does not include insurance, which is
        to be arranged at the responsibility of the Buyer.
      </p>
    </div>
  </div>
  <div class="px-4 md:px-16 mt-6">
    <p class="text-2xl text-primary mt-6">7. Delivery</p>
    <div class="px-4 mt-4">
      <p class="text-black text-justify">
        7.1 Delivery of Goods shall be deemed to be effected by the Seller at
        the following times:-
        <br /><br />
      </p>
      <div class="px-4">
        <p class="text-black text-justify">
          7.1.1 where Goods are collected by or on behalf of the Buyer by its
          servants or agents, or where Goods are collected in accordance with a
          means of delivery specifically requested by the Buyer, when the same
          are collected;<br /><br />
          7.1.2 where delivery of the Goods is to be the responsibility of the
          Seller, when they arrive prior to unloading at the Buyer's
          premises;<br /><br />
          7.1.3 where Goods are sold FOB or CIF, when they pass the ship's rail
          or are loaded onto the aircraft<br /><br />
        </p>
      </div>
      <p class="text-black text-justify">
        7.2 Delivery of Services shall be deemed to be effected by the Seller at
        the time of completion by the Seller of the Services<br /><br />
        7.3 Whilst the Seller will make every reasonable effort to complete the
        Contract by the date or dates therein specified for delivery of Goods r
        provision of Services such date or dates shall only constitute the times
        by which the Seller expects to effect such delivery and if no time is
        agreed delivery will be within a reasonable time but the performance of
        the Contract by the Seller shall not be the essence of the Contract, the
        Seller's failure to so deliver by the due date or dates shall not
        constitute a breach of Contract and the Seller shall not in any
        circumstances be responsible for any direct or consequential loss or
        damage of any kind whatsoever resulting there from. The Seller may
        wholly or partly suspend deliveries of Goods or provision of Services
        and the Buyer shall accept late delivery of such Goods or Services
        unless the Buyer has cancelled the Contract in accordance with the
        provisions of Condition 10.3
      </p>
    </div>
  </div>
  <div class="px-4 md:px-16 mt-6">
    <p class="text-2xl text-primary mt-6">
      8. Quantities Installments and Storage
    </p>
    <div class="px-4 mt-4">
      <p class="text-black text-justify">
        8.1 Where Goods are delivered or Services are by installment each
        installment shall be deemed to be sold under a separate Contract and the
        party in default in respect of any installment shall be liable
        accordingly, but no default in respect of any one installment shall
        effect due performance of the Contract as regards other installments<br /><br />
        8.2 The Seller will endeavor to deliver the quantity of Goods ordered
        and every delivery shall be deemed to comply with the order. If there is
        a surplus or shortage of Goods which is no more than 10% of the quantity
        specified in the order the Buyer shall be deemed to have accepted the
        Goods and shall pay for the actual quantity delivered<br /><br />
        8.3 If Goods or Services are to be delivered by installments, the Seller
        shall be entitled to invoice each installment as and when delivery is
        made and payment for all delivered installments shall be due
        notwithstanding the non-delivery of other installments or other default
        by the Seller. Failure by the Buyer to make payment by the due date for
        any one installment for whatever reason shall entitle the Seller to
        suspend deliveries of Goods or provision of Services under the Contract
        but without prejudice to any other right the Seller may have under any
        of the other provisions of these Conditions<br /><br />
        8.4 Notwithstanding that risk shall have passed to the Buyer pursuant to
        Condition 15 the Seller may in its absolute discretion arrange for
        storage of the Goods either at the request of the Buyer or as a result
        of the failure by the Buyer to take delivery of the Goods under
        Condition 7. The Seller may insure the goods whilst in storage and the
        Buyer shall indemnify and keep indemnified the Seller in full against
        all costs, losses, damages and expenses whatsoever arising in connection
        with the storage provided for hereunder and such costs, losses, damages
        and expenses will be added to and form part of the price of the Goods<br /><br />
        8.5 Unless otherwise agreed between the Buyer and the Seller, the Seller
        shall be entitled in its absolute discretion and without giving prior
        notice to the Buyer at the expiration of 3 months to sell or otherwise
        dispose of Goods kept in storage as provided in Condition 8.4
      </p>
    </div>
  </div>
  <div class="px-4 md:px-16 mt-6">
    <p class="text-2xl text-primary mt-6">9. Terms of Payment</p>
    <div class="px-4 mt-4">
      <p class="text-black text-justify">
        9.1 Unless otherwise agreed the price shall be due and payable at the
        Seller's offices 30 days after the date of the Seller's invoice
        <br /><br />
        9.2 If the Buyer does not pay the whole or any part of the price on the
        required day then the Buyer shall pay to the Seller on request interest
        on the amount outstanding from the required day until the actual date of
        payment at the rate of 2% p.a. over the base rate of Barclays Bank plc
        from time to time in force which shall accrue on a daily basis
        <br /><br />
        9.3 Condition 12 shall apply in the event of any alleged defect or
        failure in or of the Goods or Services and the Buyer shall not delay or
        refuse to make payment in any such event <br /><br />
        9.4 The Buyer shall not be entitled to withhold payment of any amount
        due to the Seller by reason of any disputed claim by the Buyer in
        connection with the Contract nor shall the Buyer be entitled to set off
        against any amount payable under the Contract to the Seller any amount
        which is not then due and payable by the Seller or for which the Seller
        disputes liability <br /><br />
        9.5 All payments payable to the Seller under the Contract shall become
        due immediately upon termination of the Contract despite any other
        provision.
      </p>
    </div>
  </div>
  <div class="px-4 md:px-16 mt-6">
    <p class="text-2xl text-primary mt-6">10. Suspension and Cancellation</p>
    <div class="px-4 mt-4">
      <p class="text-black text-justify">
        10.1 If the Buyer shall commit any breach of the Contract and fail to
        remedy the same within 7days of receiving the Seller's request in
        writing so to do or any distress or execution is levied upon any goods
        or property of the Buyer or the Buyer makes any voluntary arrangement
        with its creditors or becomes subject to an administration order or
        (being an individual or firm) becomes bankrupt or (being an incorporated
        company) passes a resolution for winding up (otherwise than for the
        purpose of amalgamation or reconstruction), or a Court makes an order to
        that effect, or an encumbrance takes possession, or an administrative
        receiver or receiver is appointed, of any of the property or assets of
        the Buyer, or the Buyer ceases, or threatens to cease, to carry on
        business or is unable to pay its debts within the meaning of section 123
        Insolvency Act, 1986, or the Seller reasonably apprehends that any of
        the events mentioned above is about to occur in relation to the Buyer
        and notifies the Buyer accordingly, the Seller may:-
        <br /><br />
      </p>
      <div class="px-4">
        <p class="text-black text-justify">
          10.1.1 stop any Goods in transit and suspend any further deliveries;
          and/or<br /><br />
          10.1.2 suspend work on the Contract; and/or<br /><br />
          10.1.3 determine the Contract forthwith and if the Goods or Services,
          or any part of them have been delivered but not paid for, the price
          shall become immediately due and payable notwithstanding any previous
          agreement to the contrary but without prejudice to the Seller's right
          to any unpaid price for Goods or Services delivered under the Contract
          and to damages for loss (both direct and consequential) suffered in
          consequence of such determination<br /><br />
        </p>
      </div>
      <p class="text-black text-justify">
        10.2 If the Buyer requires cancellation of the Contract this will only
        be accepted at the sole discretion of the Seller and unless otherwise
        agreed in writing only upon condition that any costs, charges or
        expenses (both direct and consequential) incurred by the Seller up to
        the date of cancellation and the value of all loss or damage (both
        direct and consequential) incurred by the Seller by reason of such
        cancellation will be reimbursed by the Buyer to the Seller forthwith.
        Acceptance by the Seller of any cancellation by the Buyer will only be
        binding upon the Seller if it is made in writing<br /><br />
        10.3 In the event of the Seller other than in any of the circumstances
        set out in Condition 10.1 being prevented or hindered from completing
        the Contract either wholly or in part in accordance with the terms
        thereof for any reason whatsoever beyond its reasonable control which,
        for the avoidance of doubt and without prejudice to the generality of
        the foregoing, shall include governmental action, war, riot, civil
        commotion, fire, flood, epidemic, labour disputes (including labour
        disputes involving the work force or any part thereof of the Seller or
        Supplier), restraints or delays affecting shipping or carriers,
        licensing, exporting or importing restrictions, currency restrictions
        and Acts of God then further performance of the Contract shall be
        suspended for the period during which the Seller is so prevented
        provided that in the event of the Contract being suspended for a
        continuous period of more than 3 months then either party may give the
        other notice in writing to terminate the Contract forthwith and in such
        circumstances the Buyer shall pay for all Goods or Services supplied to
        the date of such termination such payment to be made on or before the
        last day following the month during which termination was effected. The
        Seller shall be under no liability whatsoever to the Buyer for any
        direct or consequential loss or damage suffered by the Buyer as a result
        of the Seller's inability to perform its obligations under the Contract
        in these circumstances<br /><br />
        10.4 The Seller's rights contained in Condition 17 (but not the Buyer's
        rights) shall continue beyond the discharge of the parties' primary
        obligations under the Contract consequent upon its termination<br /><br />
        10.5 The termination of the Contract for whatever reason will be without
        prejudice to the rights and duties of either party accrued prior to
        termination
      </p>
    </div>
  </div>
  <div class="px-4 md:px-16 mt-6">
    <p class="text-2xl text-primary mt-6">
      11. Inspection and Claims For Defects
    </p>
    <div class="px-4 mt-4">
      <p class="text-black text-justify">
        11.1 The Goods are of a highly specialised nature and must be treated
        with the utmost care. It is essential that the Buyer checks that they
        correspond in all respects with the Buyer's requirements. Any
        discrepancies should be notified to the Seller immediately. The Buyer
        undertakes to ensure that all Goods are unpacked and handled only by
        persons qualified to deal with such specialised products, to safeguard
        against injury to the Goods or to the Buyer's personnel<br /><br />
        11.2 The Buyer shall inspect the Goods and carry out tests to ensure the
        Goods conform with the description of the Goods or Services in the
        Buyer's orders within 7 days of Delivery and whether or not the Buyer
        carries out such obligation to inspect and test no claims for
        non-delivery, shortages in quantity of units delivered, defective Goods
        or Services, non-conformity to description or partial loss or damage to
        Goods will be accepted by the Seller unless:-

        <br /><br />
      </p>
      <div class="px-4">
        <p class="text-black text-justify">
          11.2.1 they are notified in writing by the Buyer to the Seller within
          10 days after the Date of Delivery (in the case of partial loss,
          damage, non-conforming or defective Goods or Services) or 14 days
          after the date of the invoice (in the case of non-delivery);<br /><br />
          11.2.2 the Goods in respect of which a claim is made together with all
          the relevant packing are preserved intact as received for a period of
          35 days from notification of any such claim and the Buyer permits the
          Seller or its servants or agents full and free right of access to
          inspect the Goods and investigate the claim; and<br /><br />
          11.2.3 if the Buyer fails to give the appropriate notice as specified
          in Condition 11.2.1, the Buyer's claim will be deemed to have been
          waived and will be absolutely barred<br /><br />
        </p>
      </div>
      <p class="text-black text-justify">
        11.3 It is in all cases the responsibility of the Buyer to ensure by
        testing or otherwise that the Goods are fit and suitable for the
        purposes for which the Buyer requires them in the conditions in which
        they will be used. The Buyer acknowledges that the Seller shall be under
        no liability of any description to the Buyer if the Goods prove to be
        unsuitable for whatever reason for application or use notwithstanding
        that the Seller may, at the request of the Buyer, have given in good
        faith technical or other advice in relation to the proposed application
        or use of the Goods and the Buyer shall indemnify and keep indemnified
        the Seller in full against any and all liability of any kind arising out
        of or connected with the application or use of the Goods
        <br /><br />11.4 Section 3 Sale and Supply of Goods Act 1994 shall not
        apply <br /><br />
        11.5 The Seller will not accept the return of Goods in any circumstances
        unless it has first issued a Goods return number and such number is
        quoted with the returned Goods
      </p>
    </div>
  </div>
  <div class="px-4 md:px-16 mt-6">
    <p class="text-2xl text-primary mt-6">12. Warranty</p>
    <div class="px-4 mt-4">
      <p class="text-black text-justify">
        12.1 In substitution for all and any other rights which the Buyer might
        or would have had but for these Conditions and subject to Condition 11,
        the Seller shall make good by replacement any failure in the Goods or
        Services which results from defects in the Seller's materials or
        workmanship and which appear not later than 2 months after the Date of
        Delivery and shall replace any Goods or Services which do not conform
        with the description in the Buyer's order
        <br /><br />
        12.2 Notwithstanding the provisions of Condition 12.1, in the case of a
        claim falling within Condition 12.1, the Seller reserves the right at
        its sole discretion to credit the Buyer in full the price paid by the
        Buyer to the Seller
        <br /><br />
        12.3 The Seller's liability under this Condition shall automatically
        cease if:

        <br /><br />
      </p>
      <div class="px-4">
        <p class="text-black text-justify">
          12.3.2 the Seller or its servants or agents are denied full and free
          right of access to the allegedly defective Goods; or<br /><br />
          12.3.3 the Buyer has not properly maintained the Goods or has not
          complied with any Recommendations for Use; or<br /><br />
          12.3.4 the defect or failure is caused by a breach by the Buyer of its
          undertakings and warranties contained in Condition 17; or<br /><br />
          12.3.5 the Buyer has failed to notify the Seller in writing of any
          defect or suspected defect within 14 days of the same coming to the
          knowledge of the Buyer<br /><br />
        </p>
      </div>
      <p class="text-black text-justify">
        12.4 The warranty set out in Condition 12.1 shall be in lieu of any
        warranties conditions or undertakings whether express or implied by
        statute, common law or otherwise howsoever which warranties, conditions
        and undertakings are hereby expressly excluded, except that such
        exclusions will not apply to any implied condition that the Seller has
        or will have the right to sell the Goods when the property is to pass<br /><br />
        12.5 Nothing in these Conditions excludes or limits the liability of the
        Seller for death or personal injury caused by the Seller's negligence or
        fraudulent misrepresentation<br /><br />
        12.6 SUBJECT TO CONDITIONS 12.4 AND 12.5

        <br /><br />
      </p>
      <div class="px-4">
        <p class="text-black text-justify">
          12.6.1 the seller's total liability in contract, tort (including
          negligence or breach of statutory duty), misrepresentation or
          otherwise , arising in connection with the performance or contemplated
          performance of the contract shall be limited to the price paid for the
          goods or services under the contract; and<br /><br />
          12.6.2 the seller shall not be liable to the buyer for any indirect or
          consequential loss or damage (whether for loss of profit, loss of
          business, depletion of goodwill or otherwise), costs, expenses or
          other claims for consequential compensation whatsoever (however
          caused) which arise out of or in connection with the contract
        </p>
      </div>
    </div>
  </div>
  <div class="px-4 md:px-16 mt-6">
    <p class="text-2xl text-primary mt-6">13. Consumer Sales</p>
    <div class="px-4 mt-4">
      <p class="text-black text-justify">
        13.1 Where the Goods are sold under a consumer sale (as defined by the
        Sale of Goods Act 1979) the statutory rights of the Buyer are not
        affected by these conditions
      </p>
    </div>
  </div>
  <div class="px-4 md:px-16 mt-6">
    <p class="text-2xl text-primary mt-6">14. Title to Goods</p>
    <div class="px-4 mt-4">
      <p class="text-black text-justify">
        14.1 Full legal and beneficial ownership of the Goods shall be retained
        byte Seller notwithstanding that the risk in the same shall pass to the
        Buyer at the time of delivery until the Seller has received payment in
        full in respect of

        <br /><br />
      </p>
      <div class="px-4">
        <p class="text-black text-justify">
          14.1.2 All other sums which become due and owing by the Buyer to the
          Seller on any account whatsoever<br /><br />
        </p>
      </div>
      <p class="text-black text-justify">
        14.2 Until ownership of the Goods has passed to the Buyer the Buyer
        shall hold the Goods in a fiduciary capacity and as bailee of the Seller
        and shall at all times take proper care of the same and will not
        obliterate or obscure any identifying mark or their packaging and will
        keep the Goods separate from any other goods and in such manner that
        they may be clearly identified as belonging to the Seller and the Buyer
        hereby grants to the Seller the right to enter on the Buyer's premises
        at any time during the continuation of the Contract to check that the
        Buyer is complying with the obligation contained in this condition. The
        Buyer will return the Goods to the Seller if it receives a request
        whether verbally or in Writing so to do prior to payment in full as
        aforesaid having been made and the Seller will then repay any part of
        the purchase price it has already received in respect of the Goods less
        a reasonable amount in respect of its costs and expenses in connection
        with the Contract <br /><br />
        14.3 For the purposes of Condition 14.1, the expression "the Buyer"
        includes any subsidiary or holding company or associate of the Buyer (as
        such terms are defined in the Companies Act 1985 (as amended))
        <br /><br />14.4 The Seller will have the right to maintain an action
        against the Buyer for the price of the Goods notwithstanding that
        property in the Goods has not been passed
      </p>
    </div>
  </div>
  <div class="px-4 md:px-16 mt-6">
    <p class="text-2xl text-primary mt-6">15. Risk and Insurance</p>
    <div class="px-4 mt-4">
      <p class="text-black text-justify">
        15.1 The risk in the Goods shall pass to the Buyer at the time of
        delivery as provided for in Condition 7<br /><br />
        15.2 Notwithstanding the reservation of title contained in Condition 14,
        the Buyer shall insure the Goods and/or any products made wholly or
        partly therefrom for the full amount of the price payable under the
        Contract with an insurance office of repute from the time of delivery of
        the Goods until the date title in the Goods passes to the Buyer pursuant
        to Condition 14.1
      </p>
    </div>
  </div>
  <div class="px-4 md:px-16 mt-6">
    <p class="text-2xl text-primary mt-6">16. BUYER'S WARRANTIES</p>
    <div class="px-4 mt-4">
      <p class="text-black text-justify">
        16.1 The Buyer warrants to the Seller that:

        <br /><br />
      </p>
      <div class="px-4">
        <p class="text-black text-justify">
          16.1.1 the Buyer will install, operate or otherwise use or store the
          Goods strictly in accordance with the Recommendations for Use and with
          all relevant or applicable statutory or other regulations governing
          the installation, operation, use or storage of the Goods; and<br /><br />
          16.1.2 any collection vehicle, container, ship or other means of
          transport provided by the Buyer or any agent of the Buyer will comply
          with all relevant legislation and regulations relating to health and
          safety requirements; and<br /><br />
          16.1.3 the storage and transport facilities and all parts thereof and
          all equipment used in connection therewith is suitable for storage
          (both short term and long term) and transport of the Goods and
          complies with any statute, regulation, bye law or other rule having
          the force of law and relating to the storage of goods of the nature of
          the Goods; and<br /><br />
          16.1.4 the Buyer will ensure that the Goods are stored in conditions
          appropriate to goods of that nature and will comply with any
          recommendations as to the storage of Goods notified to it by the
          Seller from time to time; and<br /><br />
        </p>
      </div>
      <p class="text-black text-justify">
        16.2 The Buyer shall indemnify and keep indemnified the Seller in full
        against any claim, loss or damage (including, without limitation, damage
        to the reputation of the Seller) arising directly or indirectly from any
        breach of the warranty contained in Condition 17.1
      </p>
    </div>
  </div>
  <div class="px-4 md:px-16 mt-6">
    <p class="text-2xl text-primary mt-6">17. Severance</p>
    <div class="px-4 mt-4">
      <p class="text-black text-justify">
        17.1 If at any time any one or more of the provisions or part thereof of
        these Conditions becomes or is invalid, illegal or unenforceable in any
        respect under any law or is held by a court to be invalid, illegal or
        unenforceable, the validity and enforceability of the remaining
        provisions hereof and the remainder of such provision shall not in any
        way be affected or impaired thereby
      </p>
    </div>
  </div>
  <div class="px-4 md:px-16 mt-6">
    <p class="text-2xl text-primary mt-6">18. Jurisdiction</p>
    <div class="px-4 mt-4">
      <p class="text-black text-justify">
        18.1 These Conditions and each and every Contract made pursuant to them
        shall be governed by and construed in all respects in accordance with
        the laws of England and the Seller and the Buyer hereby agree to submit
        to the non-exclusive jurisdiction of the English Courts
      </p>
    </div>
  </div>
  <div class="px-4 md:px-16 mt-6">
    <p class="text-2xl text-primary mt-6">19. Notices</p>
    <div class="px-4 mt-4">
      <p class="text-black text-justify">
        19.1 Any notice required or permitted to be given by either party to the
        other under these Conditions shall be in writing addressed to that other
        party at its registered office or principal place of business or such
        other address as may at the relevant time have been notified pursuant to
        this provision to the party giving notice<br /><br />
        19.2 Any notice given pursuant to clause 19.1 shall be deemed to have
        been served:

        <br /><br />
      </p>
      <div class="px-4">
        <p class="text-black text-justify">
          19.2.1 if delivered by hand, on the first Business Day following
          delivery;<br /><br />
          19.2.2 if sent by post, on the third Business Day after posting if the
          address of the recipient is in the country of despatch, otherwise on
          the seventh Business Day after posting;<br /><br />
          19.2.3 if sent by facsimile transmission, on the first Business Day
          following successful transmission<br /><br />
        </p>
      </div>
      <p class="text-black text-justify">
        19.3 In proving service it shall be sufficient proof in the case of a
        notice sent by post, that the envelope containing the same was properly
        stamped, addressed and placed in the post and, in the case of facsimile
        transmission, that it was properly addressed and successfully
        transmitted <br /><br />
        19.4 In this Condition 19, "Business Day" shall mean any day other than
        Saturday, Sunday or any other day which is a public holiday in the place
        at which the notice is left or to which such notice is despatched
      </p>
    </div>
  </div>
  <div class="px-4 md:px-16 mt-6 mb-6">
    <p class="text-2xl text-primary mt-6">20. Waiver</p>
    <div class="px-4 mt-4">
      <p class="text-black text-justify">
        20.1 No waiver by the Seller of any breach of any provision of the
        Contract by the Buyer shall be considered as a waiver of any subsequent
        breach of the same or any other provision and the Seller shall not be
        prejudiced by any forbearance or indulgence granted by it to the Buyer
      </p>
    </div>
  </div>

  <div class="px-5 flex justify-center my-10">
    <div
      class="md:w-3/4 bg-blue-100 p-5 rounded-2xl flex justify-between items-center"
    >
      <div class="lg:flex gap-x-5 items-center">
        <div class="w-[3.5rem] h-[3.5rem]">
          <img
            class="img-contain"
            src="../../../assets/asserts/Avatar.png"
            alt=""
          />
        </div>
        <div>
          <p class="text-primary text-lg font-medium">Have a question about our Terms & Conditions?</p>
          <p class="text-sm">Talk to our friendly team</p>
        </div>
      </div>
      <div>
        <button
          class="bg-secondary p-3 px-5 rounded-lg text-white"
          routerLink="/contact"
        >
          Get in Touch
        </button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
