<app-navbar></app-navbar>
<div class="min-h-[70vh]">
  <!-- start of section 1 -->
  <div class="flex flex-col items-center  w-full h-[80vh]">
    <h1 class="hero-s-text capitalize mt-52 leading-[4rem] text-center font-semibold">Platform for today and tommorow
      <br />innovator/researchers</h1>
    <p class="text-center max-w-4xl text-sm text-zinc-600 mt-6">Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
      unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy
      text of the printing and typesetting industry. Lorem Ipsum has b.</p>
  </div>
  <!-- end of section 1 -->

  <!-- start of section 2 -->
  <div class="flex flex-col  gap-6 items-center justify-center min-h-[45vh] w-full">
    <h2 class="header-text font-semibold capitalize ">Vision</h2>
    <p class="text-sm text-zinc-600 font-normal text-center  max-w-[900px] ">Lorem Ipsum is simply dummy text of the
      printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply
      dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
      since the 1500s, when an unknown printer took a</p>
  </div>
  <!-- end of section 2 -->

  <!-- start of section 3 -->
  <div class="flex flex-col  gap-6 items-center justify-center min-h-[45vh] w-full">
    <h2 class="header-text font-semibold capitalize ">Mission</h2>
    <p class="text-sm text-zinc-600 font-normal text-center  max-w-[900px] ">Lorem Ipsum is simply dummy text of the
      printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply
      dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
      since the 1500s, when an unknown printer took a</p>
  </div>
  <!-- end of section 3 -->

  <!-- start of section 4 -->
  <div class="flex flex-col justify-between items-center min-h-[100vh] my-4">
    <h2 class="header-text font-semibold capitalize text-center mb-12 mt-12">our core value</h2>
    <div class="flex flex-row flex-wrap justify-center p-16  gap-8 mt-16 relative">
      <div class="flex flex-col gap-6  w-80 h-[439px]  p-10 rounded-3xl card-bg-color">
        <img class="h-24 w-24" src="../../../assets/asserts/svgs/metal-square-1.svg" alt="cost-svg">
        <h3 class="text-xl capitalize font-semibold">{{core_value_data[0].title}}</h3>
        <p class="text-sm text-normal text-zinc-600 text-justify">{{core_value_data[0].content}}</p>
      </div>
      <div class="flex flex-col gap-6 w-80 h-[439px]  p-10 rounded-3xl card-bg-color relative top-[-80px]">
        <img class="h-24 w-24" src="../../../assets/asserts/svgs/metal-square-2.svg" alt="cost-svg">
        <h3 class="text-xl capitalize font-semibold">{{core_value_data[1].title}}</h3>
        <p class="text-sm text-normal text-zinc-600 text-justify">{{core_value_data[1].content}}</p>
      </div>
      <div class="flex flex-col gap-6 w-80 h-[439px]  p-10 rounded-3xl card-bg-color ">
        <img class="h-24 w-24" src="../../../assets/asserts/svgs/metal-square-3.svg" alt="cost-svg">
        <h3 class="text-xl capitalize font-semibold">{{core_value_data[2].title}}</h3>
        <p class="text-sm text-normal text-zinc-600 text-justify">{{core_value_data[2].content}}</p>
      </div>
    </div>
  </div>
  <!-- end of section 4 -->

  <!-- start of section 5 -->
  <!-- <div class="flex flex-col  items-center min-h-[100vh] my-4"> -->
  <div class="p-10 ">
    <h2 class="header-text font-semibold capitalize text-center mb-12">our team</h2>
    <div class="grid grid-flow-col grid-cols-7 mt-10">
      <div class="col-span-2 flex justify-center relative ">
        <div class="sticky top-16 left-0  h-[25rem]">
          <ul class="spy-scroll-navbar ">
            <li><a class="spy-scroll-links active">
                <div class="flex items-center gap-x-5">
                  <span></span>
                  <p class="text-2xl cursor-pointer font-normal capitalize" onclick="showTeamData()">Team</p>
                </div>
              </a></li>
            <li><a class="spy-scroll-links ">
                <div class="flex items-center gap-x-5">
                  <span></span>
                  <p class="text-2xl cursor-pointer font-normal capitalize" onclick="showMentorsData()">Mentors</p>
                </div>
              </a></li>
          </ul>
        </div>
      </div>

      <div class="col-span-5">
        <div *ngIf="showTeam">
          <owl-carousel-o [options]="customOptions" class="flex flex-row w-full justify-center  gap-5">
            <ng-container *ngFor="let item of team_data">
              <ng-template carouselSlide [id]="item.id">
                <div class="card-img flex flex-col justify-between rounded-3xl  my-4 w-[310px] h-[512px]  relative">
                  <img class="hover:brightness-75" src="{{item.img}}" alt="fonder-img">
                  <p class="text-sm font-normal text-white capitalize absolute top-0 p-5">~ {{item.designation}}</p>
                  <p class="text-2xl font-normal text-white capitalize absolute bottom-0 p-5">~ {{item.name}}</p>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
        <div *ngIf="showMentors">
          <owl-carousel-o [options]="customOptions" class=" flex flex-row w-full justify-center gap-5">
            <ng-container *ngFor="let item of mentors_data">
              <ng-template carouselSlide [id]="item.id">
                <div class="card-img flex flex-col justify-between rounded-3xl  my-4 w-[310px] h-[512px]  relative">
                  <img class="hover:brightness-75" src="{{item.img}}" alt="fonder-img">
                  <p class="text-sm font-normal text-white capitalize absolute top-0 p-5">~ {{item.designation}}</p>
                  <p class="text-2xl font-normal text-white capitalize absolute bottom-0 p-5">~ {{item.name}}</p>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>

  </div>
  <!-- end of section 5 -->

  <!-- start of section 6 -->
  <div class="flex flex-col  items-center max-h-[80vh] my-4">
    <h2 class="header-text font-semibold capitalize text-center">We are Supported By</h2>
    <div class="flex flex-row flex-wrap justify-between p-10 mb-5 w-full ">
      <img class="flex w-60 h-28" src="{{item.img}}" alt="{{item.alt}}" *ngFor="let item of supporters_data">
    </div>
  </div>
  <!-- end of section 6 -->

</div>
<app-footer></app-footer>
