<app-navbar></app-navbar>
<div class="min-h-[70vh]">
  <!-- start of section 1 -->
  <div
    class="flex flex-col xl:flex-row justify-between xl:items-center w-full xl:h-[80vh] min-h-[80vh] relative"
  >
    <div
      class="flex flex-col w-full xl:w-5/6 min-h-[80vh] xl:h-[80vh] relative"
    >
      <img
        src="../../../assets/asserts/our-story-bg.png"
        alt="our story"
        class="flex w-full xl:h-full h-[80vh] "
      />
      <div class="display-side h-full w-full absolute top-0"></div>
      <div
        class="xl:hidden flex flex-col w-full px-8 md:px-16 top-6 absolute items-center justify-center"
      >
        <h1
          class="hero-s-text-sm md:text-6xl mt-4 md:mt-20 xl:mt-52 text-white capitalize font-semibold text-center mb-6"
        >
          Our <span class="text-primary"> story</span>
        </h1>
        <p class="text-sm text-white font-normal text-justify mt-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum maxime
          sint esse inventore corrupti, vitae necessitatibus hic quaerat
          suscipit accusamus quas ratione ducimus autem animi, cupiditate dolor
          qui delectus corporis quia placeat, laudantium similique tempora
          incidunt. Quia exercitationem laborum sed nostrum dignissimos
          eligendi? Ipsum, suscipit ut doloribus nemo nam sapiente consequatur!
          Magni veritatis error molestias consectetur numquam voluptatum ratione
          magnam adipisci nostrum, voluptatibus beatae tenetur tempora quas
          culpa! Officia ipsam dolor odio libero unde exercitationem quos error
          perspiciatis atque rem aut voluptatum corporis quibusdam harum quam
          aperiam sapiente minus, quidem soluta modi eum! Iusto praesentium vel
          corporis dicta eum doloremque.
        </p>
      </div>
    </div>

    <div
      class="xl:flex justify-start h-[25vh] xl:h-[80vh] bg-secondary w-full xl:w-1/6"
    >
      <div
        class="hidden xl:flex xl:flex-col w-full max-w-[500px] bg-white p-8 absolute bottom-[2rem] right-[10rem] rounded-md"
        
      >
        <h2 class="header-text text-center font-semibold capitalize">
          Our story
        </h2>
        <p class="text-sm text-zinc-600 font-normal text-justify mt-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum maxime
          sint esse inventore corrupti, vitae necessitatibus hic quaerat
          suscipit accusamus quas ratione ducimus autem animi, cupiditate dolor
          qui delectus corporis quia placeat, laudantium similique tempora
          incidunt. Quia exercitationem laborum sed nostrum dignissimos
          eligendi? Ipsum, suscipit ut doloribus nemo nam sapiente consequatur!
          Magni veritatis error molestias consectetur numquam voluptatum ratione
          magnam adipisci nostrum, voluptatibus beatae tenetur tempora quas
          culpa! Officia ipsam dolor odio libero unde exercitationem quos error
          perspiciatis atque rem aut voluptatum corporis quibusdam harum quam
          aperiam sapiente minus, quidem soluta modi eum! Iusto praesentium vel
          corporis dicta eum doloremque.
        </p>
      </div>
    </div>
  </div>
  <!-- end of section 1 -->

  <!-- start of section 2 -->
  <div
    class="flex flex-col md:flex-row gap-6 mt-6 items-center justify-center md:justify-between md:px-16 xl:px-32 min-h-[30vh] w-full"
  >
    <h2 class="header-text font-semibold capitalize">Vision</h2>
    <p
      class="text-sm text-zinc-600 font-normal text-center md:text-justify max-w-[900px]"
    >
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.Lorem Ipsum is simply dummy text of the printing
      and typesetting industry. Lorem Ipsum has been the industry's standard
      dummy text ever since the 1500s, when an unknown printer took a
    </p>
  </div>
  <!-- end of section 2 -->

  <!-- start of section 3 -->
  <div
    class="flex flex-col md:flex-row gap-6 mt-6 items-center justify-center md:justify-between md:px-16 xl:px-32 min-h-[30vh] w-full"
  >
    <h2 class="header-text font-semibold capitalize">Mission</h2>
    <p
      class="text-sm text-zinc-600 font-normal text-center md:text-justify max-w-[900px]"
    >
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.Lorem Ipsum is simply dummy text of the printing
      and typesetting industry. Lorem Ipsum has been the industry's standard
      dummy text ever since the 1500s, when an unknown printer took a
    </p>
  </div>
  <!-- end of section 3 -->

  <!-- start of section 4 -->
  <div class="flex flex-col justify-between items-center min-h-[80vh]">
    <h2 class="header-text font-semibold capitalize text-center mb-12 mt-12">
      our core value
    </h2>
    <div
      class="flex flex-row flex-wrap justify-center px-4 md:p-16 gap-8 mt-4 xl:mt-16 relative"
    >
      <div
     
        class="flex flex-col gap-6 w-80 h-[439px] p-10 rounded-3xl card-bg-color"
      >
        <img
          class="h-24 w-24"
          src="../../../assets/asserts/svgs/metal-square-1.svg"
          alt="cost-svg"
        />
        <h3 class="text-xl capitalize font-semibold">
          {{ core_value_data[0].title }}
        </h3>
        <p class="text-sm text-normal text-zinc-600 text-justify">
          {{ core_value_data[0].content }}
        </p>
      </div>
      <div
        class="flex flex-col gap-6 w-80 h-[439px] p-10 rounded-3xl card-bg-color xl:relative xl:top-[-80px]"
      >
        <img
          class="h-24 w-24"
          src="../../../assets/asserts/svgs/metal-square-2.svg"
          alt="cost-svg"
        />
        <h3 class="text-xl capitalize font-semibold">
          {{ core_value_data[1].title }}
        </h3>
        <p class="text-sm text-normal text-zinc-600 text-justify">
          {{ core_value_data[1].content }}
        </p>
      </div>
      <div
        class="flex flex-col gap-6 w-80 h-[439px] p-10 rounded-3xl card-bg-color"
      >
        <img
          class="h-24 w-24"
          src="../../../assets/asserts/svgs/metal-square-3.svg"
          alt="cost-svg"
        />
        <h3 class="text-xl capitalize font-semibold">
          {{ core_value_data[2].title }}
        </h3>
        <p class="text-sm text-normal text-zinc-600 text-justify">
          {{ core_value_data[2].content }}
        </p>
      </div>
    </div>
  </div>
  <!-- end of section 4 -->

  <!-- start of section 5 -->
  <div
    class="md:p-10 px-1 flex flex-col items-center min-h-[80vh] my-4 w-full"
  >
    <h2 class="header-text font-semibold capitalize text-center mb-2">
      our team
    </h2>
    <div
      class="flex flex-row items-center justify-around md:justify-between w-full md:w-[20rem]"
    >
      <a class="tab-links active">
        <div class="flex items-center gap-x-5">
          <span></span>
          <p
            class="text-2xl cursor-pointer font-normal capitalize"
            (click)="showTeamData()"
          >
            Team
          </p>
        </div>
      </a>
      <a class="tab-links">
        <div class="flex items-center gap-x-5">
          <span></span>
          <p
            class="text-2xl cursor-pointer font-normal capitalize"
            (click)="showMentorsData()"
          >
            Mentors
          </p>
        </div>
      </a>
    </div>
    <div *ngIf="showTeam">
      <div class="flex flex-row flex-wrap justify-center gap-2 md:gap-8 mt-8">
        <div
          class="card-img flex flex-col justify-between cursor-pointer rounded-3xl w-[200px] h-[300px] relative"
          *ngFor="let item of team_data"
        >
          <img
            class="hover:brightness-75 h-full w-full cover-full"
            src="{{ item.img }}"
            alt="fonder-img"
          />
          <p
            class="text-sm font-normal text-white capitalize absolute top-0 p-5"
          >
            ~ {{ item.designation }}
          </p>
          <p
            class="text-2xl font-normal text-white capitalize absolute bottom-0 p-5"
          >
            ~ {{ item.name }}
          </p>
        </div>
      </div>
    </div>
    <div *ngIf="showMentors">
      <div class="flex flex-row flex-wrap justify-center gap-2 md:gap-8 mt-8">
        <div
          class="card-img flex flex-col justify-between cursor-pointer rounded-3xl w-[200px] h-[300px] relative"
          *ngFor="let item of mentors_data"
        >
          <img
            class="hover:brightness-75 h-full w-full cover-full"
            src="{{ item.img }}"
            alt="fonder-img"
          />
          <p
            class="text-sm font-normal text-white capitalize absolute top-0 p-5"
          >
            ~ {{ item.designation }}
          </p>
          <p
            class="text-2xl font-normal text-white capitalize absolute bottom-0 p-5"
          >
            ~ {{ item.name }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- end of section 5 -->

  <!-- start of section 6 -->
  <div class="flex flex-col items-center min-h-max my-4">
    <h2 class="header-text font-semibold capitalize text-center">
      We are Supported By
    </h2>
    <div class="flex flex-row flex-wrap justify-between px-10 mb-5 w-full">
      <img
        class="flex w-60 h-28"
        src="{{ item.img }}"
        alt="{{ item.alt }}"
        *ngFor="let item of supporters_data"
      />
    </div>
  </div>
  <!-- end of section 6 -->
</div>
<app-footer></app-footer>
