<app-loader></app-loader>
<app-navbar></app-navbar>
<div class="min-h-[70vh]">
  <!-- header -->
  <div
    class="flex justify-center items-center w-full min-h-[70vh] relative px-5"
    data-aos="fade-up"
  >
    <div>
      <div class="max-w-4xl text-center relative z-10">
        <p
          class="hero-s-text leading-9 sm:leading-[3rem] lg:leading-[4rem] capitalize font-semibold"
        >
          Our story
        </p>
        <p class="mt-5 text-sm text-justify text-zinc-600">
          We firmly think that every great company concept stems from the
          founder's own pain points and problems. We understand the difficulties
          that hardware product developers face during the product development
          process because we have worked with numerous startups and individual
          innovators in developing their products. <br /><br />
          We talked with a wide range of hardware product development
          researchers and innovators from many disciplines and sectors. We
          recognized that a fundamental barrier in the innovation process is a
          lack of access to the necessary materials and resources, which can
          lead to time and resource waste, increased expenses, and a longer time
          to market. <br /><br />
          To address this, we created a platform that would assist innovators in
          discovering and sourcing raw materials for research and specialized
          production.
        </p>
      </div>
    </div>
  </div>
  <!-- header -->
  <div class="max-w-4xl mx-auto px-5">
    <img src="../../../assets/asserts/illustrator/our-story.png" alt="" />
  </div>

  <!-- start of section 2 -->
  <div
    class="flex flex-col md:hidden gap-6 mt-6 items-center px-4 justify-center md:justify-between md:px-16 xl:px-32 min-h-[30vh] w-full"
  >
    <h2 class="header-text font-semibold capitalize md:w-1/4">Vision</h2>
    <p
      class="text-sm text-zinc-600 font-normal text-center md:text-justify max-w-[900px] md:w-3/4"
    >
      We aspire to build an ecosystem to assist innovators and researchers in
      developing hardware products.
    </p>
  </div>
  <!-- end of section 2 -->

  <!-- start of section 3 -->
  <div
    class="flex flex-col md:hidden gap-6 mt-6 items-center px-4 justify-center md:justify-between md:px-16 xl:px-32 min-h-[30vh] w-full"
  >
    <h2 class="header-text font-semibold capitalize md:w-1/4">Mission</h2>
    <p
      class="text-sm text-zinc-600 font-normal text-center md:text-justify md:w-3/4 max-w-[900px]"
    >
      Our mission is to assist innovators and researchers in achieving their
      hardware product development goals by leveraging data intelligence to
      inform raw material selection and procurement so that hardware development
      can be optimized for maximum efficiency.
    </p>
  </div>
  <!-- end of section 3 -->
  <div class="hidden md:block mx-auto p-4 w-[95%] xl:w-[65%]  mt-24 ">
    <img src="../../../../../assets/asserts/visionmission2.png" alt="vision mission" class="img-contain">
  </div>
  <!-- start of section 4 -->
  <div class="flex flex-col justify-between items-center min-h-[80vh]">
    <h2 class="header-text font-semibold capitalize text-center mb-12 mt-12">
      our core value
    </h2>
    <div
      class="flex flex-row flex-wrap justify-center px-4 md:p-16 gap-8 mt-4 xl:mt-16 relative"
    >
      <div
        class="flex flex-col gap-6 w-80 h-[439px] p-10 rounded-3xl card-bg-color"
        data-aos="zoom-out-right"
      >
        <img
          class="h-24 w-24"
          src="../../../assets/asserts/svgs/metal-square-1.svg"
          alt="cost-svg"
        />
        <h3 class="text-xl capitalize font-semibold">
          {{ core_value_data[0].title }}
        </h3>
        <p class="text-sm text-normal text-zinc-600 text-justify">
          {{ core_value_data[0].content }}
        </p>
      </div>
      <div
        class="flex flex-col gap-6 w-80 h-[439px] p-10 rounded-3xl card-bg-color xl:relative xl:top-[-80px]"
        data-aos="fade-up"
      >
        <img
          class="h-24 w-24"
          src="../../../assets/asserts/svgs/metal-square-2.svg"
          alt="cost-svg"
        />
        <h3 class="text-xl capitalize font-semibold">
          {{ core_value_data[1].title }}
        </h3>
        <p class="text-sm text-normal text-zinc-600 text-justify">
          {{ core_value_data[1].content }}
        </p>
      </div>
      <div
        class="flex flex-col gap-6 w-80 h-[439px] p-10 rounded-3xl card-bg-color"
        data-aos="zoom-out-left"
      >
        <img
          class="h-24 w-24"
          src="../../../assets/asserts/svgs/metal-square-3.svg"
          alt="cost-svg"
        />
        <h3 class="text-xl capitalize font-semibold">
          {{ core_value_data[2].title }}
        </h3>
        <p class="text-sm text-normal text-zinc-600 text-justify">
          {{ core_value_data[2].content }}
        </p>
      </div>
    </div>
  </div>
  <!-- end of section 4 -->

  <!-- start of section 5 hidden -->
  <div class="md:p-10 px-1 min-h-max my-4 hidden">
    <h2 class="header-text font-semibold capitalize text-center mb-2">
      our team
    </h2>
    <div class="flex justify-center">
      <div
        class="flex flex-row items-center justify-around md:justify-between w-full md:w-[20rem]"
      >
        <a class="tab-links active">
          <div class="flex items-center gap-x-5">
            <span></span>
            <p
              class="text-2xl cursor-pointer font-normal capitalize"
              (click)="showTeamData()"
            >
              Team
            </p>
          </div>
        </a>
        <a class="tab-links hidden">
          <div class="flex items-center gap-x-5">
            <span></span>
            <p
              class="text-2xl cursor-pointer font-normal capitalize"
              (click)="showMentorsData()"
            >
              Mentors
            </p>
          </div>
        </a>
      </div>
    </div>

    <div class="my-10">
      <div *ngIf="showTeam">
        <owl-carousel-o [options]="customOptions">
          <ng-container
            class="flex justify-center"
            *ngFor="let item of team_data"
          >
            <ng-template carouselSlide>
              <div
                class="card-img flex flex-col justify-between cursor-pointer rounded-3xl w-[160px] h-[220px] md:w-[200px] md:h-[300px] relative"
              >
                <img
                  class="hover:brightness-75 h-full w-full cover-full"
                  src="{{ item.img }}"
                  alt="fonder-img"
                />
                <p
                  class="text-sm font-normal text-white capitalize absolute top-0 md:p-5 p-2"
                >
                  ~ {{ item.designation }}
                </p>
                <p
                  class="text-sm md:text-xl font-normal text-white capitalize absolute bottom-0 md:p-5 p-2"
                >
                  ~ {{ item.name }}
                </p>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
      <div *ngIf="showMentors">
        <owl-carousel-o [options]="customOptions">
          <ng-container *ngFor="let item of mentors_data">
            <ng-template carouselSlide class="flex justify-center">
              <div
                class="card-img flex flex-col justify-between cursor-pointer rounded-3xl w-[200px] h-[300px] relative"
              >
                <img
                  class="hover:brightness-75 h-full w-full cover-full"
                  src="{{ item.img }}"
                  alt="fonder-img"
                />
                <p
                  class="text-sm font-normal text-white capitalize absolute top-0 p-5"
                >
                  ~ {{ item.designation }}
                </p>
                <p
                  class="text-2xl font-normal text-white capitalize absolute bottom-0 p-5"
                >
                  ~ {{ item.name }}
                </p>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
  <!-- end of section 5 -->
  <!-- our team -->
  <app-team-carousel></app-team-carousel>
  <!-- our team -->

  <!-- start of section 6 -->
  <div class="p-5  lg:p-16 mt-10 our-client">
    <h1 class="text-center header-text font-semibold">We are Supported By</h1>
    <div class="mt-5">
      <owl-carousel-o [options]="customOptions">
        <ng-template
          carouselSlide
          *ngFor="let items of supporters_data"
          class="flex justify-center"
        >
          <div class="w-[10rem] h-[7rem]">
            <img
              class="img-contain"
              src="{{ items.img }}"
              alt="{{ items.alt }}"
            />
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>

  <!-- end of section 6 -->
</div>
<app-footer></app-footer>
