<app-navbar></app-navbar>
<div class="min-h-[70vh]">
  <!-- header -->
  <div class="flex flex-col items-center p-2 w-full md:min-h-[80vh] relative">
    <h1
      class="hero-s-text-sm md:text-6xl mt-2 md:mt-52 leading-[2rem] md:leading-[4rem] capitalize font-semibold text-center px-2"
    >
      Be part of our journey to success. <br />
      Become a partner today.
    </h1>
    <p
      class="text-sm mt-10 px-4 mt-6 font-normal max-w-4xl text-center text-zinc-600"
    >
      Join us on path to success and become a partner today, where together, we
      can achieve even greater heights and make a lasting impact in the world of
      research and development.
    </p>
    <div>
      <button
        data-modal-target="staticModal"
        data-modal-toggle="staticModal"
        class="btn-dblue mt-7 px-8 md:px-12 py-3 rounded-md"
      >
        Register Now
      </button>

      <!-- Main modal -->
      <div
        id="staticModal"
        data-modal-backdrop="static"
        tabindex="-1"
        aria-hidden="true"
        class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full"
      >
        <div class="relative w-full h-full max-w-2xl md:h-auto">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div
              class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600"
            >
              <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                Static modal
              </h3>
              <button
                type="button"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                data-modal-hide="staticModal"
              >
                <svg
                  class="w-5 h-5"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
              <p
                class="text-base leading-relaxed text-gray-500 dark:text-gray-400"
              >
                With less than a month to go before the European Union enacts
                new consumer privacy laws for its citizens, companies around the
                world are updating their terms of service agreements to comply.
              </p>
              <p
                class="text-base leading-relaxed text-gray-500 dark:text-gray-400"
              >
                The European Union’s General Data Protection Regulation
                (G.D.P.R.) goes into effect on May 25 and is meant to ensure a
                common set of data rights in the European Union. It requires
                organizations to notify users as soon as possible of high-risk
                data breaches that could personally affect them.
              </p>
            </div>
            <!-- Modal footer -->
            <div
              class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600"
            >
              <button
                data-modal-hide="staticModal"
                type="button"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              >
                I accept
              </button>
              <button
                data-modal-hide="staticModal"
                type="button"
                class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"
              >
                Decline
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of header -->

  <!-- start of section 2 -->
  <div
    class="flex flex-col md:flex-row justify-center items-center w-full md:min-h-[100vh] px-2 md:px-36 gap-16"
  >
    <div class="container md:w-1/2">
      <img
        class="img-cover h-[37.3rem] w-[37.3rem] rounded-xl"
        src="https://images.unsplash.com/photo-1585201731775-0597e1be4bfb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=415&q=80"
        alt=""
      />
    </div>

    <div class="flex flex-col items-center md:w-1/2">
      <h2 class="header-text font-semibold capitalize text-center">
        Why to supply raw matrial with ProducTRY
      </h2>
      <p class="text-sm text-zinc-600 font-normal mt-6 text-justify">
        At ProducTRY, we believe that strong relationships with our suppliers
        are essential to the success of our business. We are committed to
        working collaboratively with our suppliers to create mutual value and
        drive long term growth.<br /><br />
        As a potential supplier, you can expect to receive the highest level of
        support from our dedicated team. We offer a range of technology tools
        and resources to help you grow your business, including access to our
        extensive network of customers and industry experts, as well as
        opportunities for training and development. <br /><br />
        We take pride in our commitment to ethical and sustainable practices,
        and we work closely with our suppliers to ensure that they meet our high
        standard. Our goal is to build long-lasting partnerships based on trust,
        transparency, and shared values.<br /><br />
        If you are interested in becoming a partner with us, we would love to
        hear from you. Please don't hesitate to reach out to our team today to
        learn more about the benefits of partnering with ProducTRY. We look for
        to
      </p>
    </div>
  </div>
  <!-- end of section 2 -->

  <!-- start of section 4 -->
  <div
    class="benifit-carousel flex flex-col justify-center items-center min-h-[100vh] my-4"
  >
    <h2 class="header-text font-semibold capitalize text-center">
      Benefits of ProducTRY <br />
      Partnership
    </h2>

    <!-- <div class="benifit-carousel"> -->
    <owl-carousel-o
      [options]="customOptions"
      class="flex flex-row w-full justify-center p-16 gap-5"
    >
      <ng-container *ngFor="let item of data">
        <ng-template carouselSlide [id]="item.id">
          <div
            class="flex flex-col gap-6 w-80 h-96 p-10 rounded-xl card-bg-color"
          >
            <h3 class="text-xl capitalize font-semibold">{{ item.title }}</h3>
            <p class="text-sm text-normal text-zinc-600 text-justify">
              {{ item.content }}
            </p>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
    <!-- </div> -->
    <button class="btn-dblue mb-5 px-12 py-3 rounded-md">Register Now</button>
  </div>
  <!-- end of section 4 -->
</div>
<app-footer></app-footer>
