<app-navbar></app-navbar>
<div class="min-h-[70vh]">
<!-- header -->
<div class="flex flex-col items-center w-full h-[80vh] relative">
  <h1 class="hero-s-text mt-52 leading-[4rem] capitalize font-semibold text-center">Be part of our journey to success. <br/> Become a partner today.</h1>
  <p class="text-sm mt-10 mt-6 font-normal max-w-4xl text-center text-zinc-600">Join us on path to success and become a
    partner today, where together, we can achieve even greater heights and make a lasting impact in the world of research
    and development.</p>
 <button class="btn-dblue mt-7 px-12 py-3 rounded-md ">Register Now</button>
</div>
<!-- end of header -->

<!-- start of section 2 -->
<div class="flex justify-center items-center w-full h-[100vh] px-36 gap-16">
    <div class="container w-1/2"> <img class="img-cover h-[37.3rem] w-[37.3rem] rounded-xl" src="https://images.unsplash.com/photo-1585201731775-0597e1be4bfb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=415&q=80" alt=""></div>

    <div class="flex flex-col items-center w-1/2">
      <h2 class="header-text font-semibold capitalize">Why to supply raw matrial with ProducTRY</h2>
      <p class="text-sm text-zinc-600 font-normal mt-6 text-justify">
        At ProducTRY, we believe that strong relationships with our suppliers are essential
        to the success of our business. We are committed to working collaboratively with
        our suppliers to create mutual value and drive long term growth.<br /><br />
        As a potential supplier, you can expect to receive the highest level of support from
        our dedicated team. We offer a range of technology tools and resources to help you
        grow your business, including access to our extensive network of customers and
        industry experts, as well as opportunities for training and development. <br /><br />
        We take pride in our commitment to ethical and sustainable practices, and we work
        closely with our suppliers to ensure that they meet our high standard. Our goal is to
        build long-lasting partnerships based on trust, transparency, and shared values.<br /><br />
        If you are interested in becoming a partner with us, we would love to hear from
        you. Please don't hesitate to reach out to our team today to learn more about the
        benefits of partnering with ProducTRY. We look for to
      </p>
    </div>
</div>
<!-- end of section 2 -->



<!-- start of section 4 -->
<div class="benifit-carousel flex flex-col justify-center items-center min-h-[100vh] my-4">
  <h2 class="header-text font-semibold capitalize text-center">Benefits of ProducTRY <br/> Partnership</h2>
 
  <!-- <div class="benifit-carousel"> -->
  <owl-carousel-o [options]="customOptions" class="flex flex-row w-full justify-center p-16 gap-5" >
    <ng-container *ngFor="let item of data" >
      <ng-template carouselSlide [id]="item.id">
          <div class="flex flex-col gap-6 w-80 h-96  p-10 rounded-xl card-bg-color">
            <h3 class="text-xl capitalize font-semibold">{{item.title}}</h3>
            <p class="text-sm text-normal text-zinc-600 text-justify">{{item.content}}</p>
          </div> 
      </ng-template>
    </ng-container>
  </owl-carousel-o>
  <!-- </div> -->
   <button class="btn-dblue mb-5 px-12 py-3 rounded-md">Register Now</button>
</div>
<!-- end of section 4 -->


</div>
<app-footer></app-footer>
