.benifit-carousel ::ng-deep .owl-prev{
    background-color: #192442;
}
.benifit-carousel ::ng-deep .owl-prev:hover{
    background-color: #273252;
}
.benifit-carousel ::ng-deep .owl-next{
    background-color: #192442;
}
.benifit-carousel ::ng-deep .owl-next:hover{
    background-color: #273252;
}
