<app-navbar></app-navbar>

<!-- start of section -->
<div class="flex flex-row w-full beta-screen  gap-6">
  <div
    class="md:flex display-side flex-col items-center md:w-1/2 relative hidden"
  >
    <div class="flex flex-col z-20 absolute top-44 items-center">
      <img class="logo" src="../../../assets/asserts/logo.png" alt="" />
      <p
        class="text-2xl mt-10 mt-6 font-normal max-w-[640px] text-center text-white"
      >
        Optimize your project/product/research and development/or innovation
        with us by choosing the right raw materials and sourcing them.
      </p>
    </div>
    <ul class="flex flex-row gap-x-5 absolute bottom-[50px] z-20">
      <li class="text-white">
        <a href=""><i class="bi bi-facebook"></i></a>
      </li>
      <li class="text-white">
        <a href=""><i class="bi bi-instagram"></i></a>
      </li>
      <li class="text-white">
        <a href=""><i class="bi bi-twitter"></i></a>
      </li>
      <li class="text-white">
        <a href=""><i class="bi bi-youtube"></i></a>
      </li>
      <li class="text-white">
        <a href=""><i class="bi bi-linkedin"></i></a>
      </li>
    </ul>
  </div>
  <div class="flex flex-col justify-center h-full md:w-1/2 p-10 gap-6">
    <div>
      <p class="text-4xl font-medium capitalize">Join beta</p>
      <p class="text-sm mt-10 mt-6 font-normal max-w-4xl text-zinc-600">
        A Platform for Today’s and tomorrow's
        innovators/researchers/entrepreneurs/builders
      </p>
    </div>
    <form class="flex flex-col h-full w-full relative">
      <label for="name">Name</label>
      <input
        class="bg-[#F9F9F9] max-w-96 h-10 p-2 my-2 outline-none rounded-md"
        type="text"
        name="name"
        id="name"
      />
      <div class="inline">
        <label for="email">Email</label>
        <input
          class="bg-[#F9F9F9] max-w-96 h-10 p-2 my-2 outline-none rounded-md"
          type="email"
          name="email"
          id="email"
        />
        <label for="phone">Phone Number</label>
        <input
          class="bg-[#F9F9F9] max-w-96 h-10 p-2 my-2 outline-none rounded-md"
          type="number"
          name="phone"
          id="phone"
        />
      </div>
      <label for="sector">Sector</label>
      <input
        class="bg-[#F9F9F9] max-w-96 h-10 p-2 my-2 outline-none rounded-md"
        type="text"
        name="sector"
        id="sector"
      />
      <label for="profession">Profession</label>
      <input
        class="bg-[#F9F9F9] max-w-96 h-10 p-2 my-2 outline-none rounded-md"
        type="text"
        name="profession"
        id="profession"
      />
      <label for="company">Company Name</label>
      <input
        class="bg-[#F9F9F9] max-w-96 h-10 p-2 my-2 outline-none rounded-md"
        type="text"
        name="company"
        id="company"
      />
      <div class="w-full flex flex-row items-center justify-end h-fit mt-12">
        <button
          class="btn-dblue max-w-max px-12 py-3 rounded-md capitalize relative right-0"
        >
          Join
        </button>
      </div>
    </form>
  </div>
</div>
<!-- end of section -->
