.beta-bg-img{
    height: 100%;
    width: 100%;
    background: linear-gradient(151.84deg, #D9D9D9 -70.53%, #1F74BA -70.51%, #192442 105.72%);
    opacity: 0.74;
    border-radius: 0px 50px 50px 0px;
}