<app-navbar></app-navbar>

<!-- start of section -->
<div class="flex flex-row w-full beta-screen  gap-6">
  <div
    class="md:flex display-side flex-col items-center md:w-1/2 relative hidden"
  >
    <div class="flex flex-col z-20 absolute top-44 items-center">
      <img class="logo" src="../../../assets/asserts/logo.png" alt="" />
      <p
        class="text-2xl mt-10 mt-6 font-normal max-w-[640px] text-center text-white"
      >
        Optimize your project/product/research and development/or innovation
        with us by choosing the right raw materials and sourcing them.
      </p>
    </div>
    <ul class="flex flex-row gap-x-5 absolute bottom-[50px] z-20">
      <li class="text-white">
        <a href=""><i class="bi bi-facebook"></i></a>
      </li>
      <li class="text-white">
        <a href=""><i class="bi bi-instagram"></i></a>
      </li>
      <li class="text-white">
        <a href=""><i class="bi bi-twitter"></i></a>
      </li>
      <li class="text-white">
        <a href=""><i class="bi bi-youtube"></i></a>
      </li>
      <li class="text-white">
        <a href=""><i class="bi bi-linkedin"></i></a>
      </li>
    </ul>
  </div>
  <div class="flex flex-col justify-center h-full md:w-1/2 p-10 gap-6">
    <div>
      <p class="text-4xl font-medium capitalize">Join beta</p>
      <p class="text-sm mt-10 mt-6 font-normal max-w-4xl text-zinc-600">
        A Platform for Today’s and tomorrow's
        innovators/researchers/entrepreneurs/builders
      </p>
    </div>
    <form class="flex flex-col h-full w-full relative">
      <label for="name">Name</label>
      <input
        class="bg-[#F9F9F9] max-w-96 h-10 p-2 my-2 outline-none rounded-md"
        type="text"
        name="name"
        id="name"
      />
      <div class="inline">
        <label for="email">Email</label>
        <input
          class="bg-[#F9F9F9] max-w-96 h-10 p-2 my-2 outline-none rounded-md"
          type="email"
          name="email"
          id="email"
        />
        <label for="phone">Phone Number</label>
        <input
          class="bg-[#F9F9F9] max-w-96 h-10 p-2 my-2 outline-none rounded-md"
          type="number"
          name="phone"
          id="phone"
        />
      </div>
      <label for="sector">Sector</label>
      <input
        class="bg-[#F9F9F9] max-w-96 h-10 p-2 my-2 outline-none rounded-md"
        type="text"
        name="sector"
        id="sector"
      />
      <label for="profession">Profession</label>
      <input
        class="bg-[#F9F9F9] max-w-96 h-10 p-2 my-2 outline-none rounded-md"
        type="text"
        name="profession"
        id="profession"
      />
      <label for="company">Company Name</label>
      <input
        class="bg-[#F9F9F9] max-w-96 h-10 p-2 my-2 outline-none rounded-md"
        type="text"
        name="company"
        id="company"
      />
      <div class="w-full flex flex-row items-center justify-end h-fit mt-12">
        <button
          class="btn-dblue max-w-max px-12 py-3 rounded-md capitalize relative right-0"
        >
          Join
        </button>
      </div>
    </form>
  </div>
</div>
<!-- end of section -->
<!-- ************************* -->
<div class="beta-form flex ">
  <div class="w-1/2 h-full display-side relative lg:flex justify-center items-center hidden">
    <div class="w-1/2">
      <div class="flex justify-center">
        <img class="logo" src="../../../assets/asserts/logo.png" alt="">
      </div>
      <p class="mt-5 font-light text-center text-white text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsa fuga! Provident, </p>
    </div>
    <div class="absolute bottom-5 left-[50%] transform -translate-x-1/2 -translate-y-1/2">
      <ul class="flex gap-x-5">
        <li class="text-white hover:text-blue-600 text-xl"><a href=""><i class="bi bi-facebook"></i></a></li>
        <li class="text-white hover:text-blue-600 text-xl"><a href=""><i class="bi bi-instagram"></i></a></li>
        <li class="text-white hover:text-blue-600 text-xl"><a href=""><i class="bi bi-twitter"></i></a></li>
        <li class="text-white hover:text-blue-600 text-xl"><a href=""><i class="bi bi-youtube"></i></a></li>
        <li class="text-white hover:text-blue-600 text-xl"><a href=""><i class="bi bi-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="w-full lg:w-1/2 h-full p-10 xl:p-24 xl:pt-10">
    <div class="">

      <h1 class="text-2xl font-medium">Join beta</h1>
      <p class="mt-5 text-sm text-zinc-500 ">        Optimize your project/product/research and development/or innovation
        with us by choosing the right raw materials and sourcing them.</p>

      <div class="form mt-5">
        <div>
          <label for="name" class="text-sm text-zinc-400 font-light">Name</label><br>
          <input type="text" id="name" class="w-full border-zinc-300 rounded-md border-2" placeholder="Enter your Name">
        </div>
        <div class="flex gap-x-5 mt-3">
          <div class="w-full">
            <label for="email" class="text-sm text-zinc-400 font-light">Email</label><br>
            <input type="email" id="email" class="w-full border-zinc-300 rounded-md border-2" placeholder="Enter your Email">
          </div>
          <div class="w-full">
            <label for="phoneno" class="text-sm text-zinc-400 font-light">Phone Number</label><br>
            <input type="tel" id="phoneno" class="w-full border-zinc-300 rounded-md border-2" placeholder="Enter your Phone Number">
          </div>
        </div>
        <div class="mt-3">
          <label for="sectore" class="text-sm text-zinc-400 font-light">Profession</label><br>
          <input type="text" id="sectore" class="w-full border-zinc-300 rounded-md border-2" placeholder="Enter your compnay Sectore">
        </div>
        <div class="mt-3">
          <label for="sectore" class="text-sm text-zinc-400 font-light">Company Sector</label><br>
          <input type="text" id="sectore" class="w-full border-zinc-300 rounded-md border-2" placeholder="Enter your compnay Sectore">
        </div>
        <div class="mt-3">
          <label for="companyname" class="text-sm text-zinc-400 font-light">Company Name</label><br>
          <input type="text" id="companyname" class="w-full border-zinc-300 rounded-md border-2" placeholder="Enter your Name">
        </div>
      </div>
      <div class="mt-16 flex justify-end">
        <button class="bg-secondary p-3 px-5 rounded-lg text-white">Submit</button>
      </div>
    </div>
  </div>
  </div>
