<app-navbar></app-navbar>
<div class="min-h-[70vh]">

  <!-- header -->
  <div class="flex justify-center items-center w-full h-[100vh] relative px-5">
    <div class=" lg:max-w-5xl text-center relative z-10" data-aos="fade-up">
      <p class="hero-s-text leading-9 md:leading-[3.5rem] lg:leading-[4rem] capitalize font-semibold">Empowering the Work hidden <span
          class="text-primary"> Innovators Researchers</span></p>
      <p class="mt-5 text-sm text-zinc-600">By leveraging data intelligence to inform raw material selection and
        procurement, hardware development can be optimized for maximum efficiency. This approach streamlines the
        development process, ensuring that the most appropriate materials are chosen and sourced in a timely and
        cost-effective manner.</p>
      <button class="bg-secondary text-white mt-8 px-8 py-2 rounded-md" routerLink="/beta">Join Beta Now!</button>
    </div>

    <div class="absolute hidden lg:block z-0 bottom-[25%] right-[40%] rellax" data-rellax-speed="1"
    data-rellax-percentage="0.5">
      <img class="h-[4.5rem]" src="../../../assets/asserts/3dasserts/lab-dynamic-color.png" alt="">
    </div>

    <div class="absolute hidden lg:block z-20 top-[42%] right-[20%] rellax"  data-rellax-speed="-3">
      <img class="h-[5rem]" src="../../../assets/asserts/3dasserts/polegon-gold-4000x4000.png" alt="">
    </div>

    <div class="absolute hidden lg:block z-0 bottom-[15%] left-[30%] rellax"  data-rellax-speed="4">
      <img class="h-[7rem]" src="../../../assets/asserts/3dasserts/spring-black-4000x4000.png" alt="">
    </div>

    <div class="absolute hidden lg:block z-0 top-[2.5rem] left-[21%] rellax" data-rellax-speed="-3">
      <img class="w-[8rem]" src="../../../assets/asserts/3dasserts/Triple knot-gold-4000x4000.png" alt="" >
    </div>

  </div>
  <!-- header -->

  <!-- secion 2 -->
  <div class="p-5 md:p-7 lg:p-10">
    <h1 class="text-center header-text font-semibold">What we Offers?</h1>
    <div class="grid grid-flow-col grid-cols-1 lg:grid-cols-3 mt-10">

      <div class="col-span-1 lg:flex justify-center relative hidden">
        <div class="sticky top-16 left-0  h-[25rem]">
          <ul class="spy-scroll-navbar ">
            <li *ngFor="let items of offers_data"><a class="spy-scroll-links cursor-pointer" scrollSpyMenu="menu{{items.id}}" [ssmCurrentContent]="currentMenuId">
                <div class="flex items-center gap-x-5">
                  <span class="">{{items.id}}</span>
                  <p>{{items.for}}</p>
                </div>
              </a></li>
          </ul>

        </div>
      </div>

      <div class="col-span-1 flex lg:col-span-2  lg:overflow-visible  " scrollSpyContent="DIV" [(sscCurrentContent)]="currentMenuId"  >
        <div class="overflow-scroll  lg:overflow-visible flex lg:block gap-x-4 scrollbar-hidden px-2  pb-28 lg:pb-0">

        <section id="menu{{items.id}}"
          class="bg-zinc-100 min-w-[20rem]  lg:max-w-3xl p-5 lg:p-10 rounded-2xl relative lg:h-[25rem] pb-28 lg:mb-10" *ngFor="let items of offers_data" >
          <div class="lg:max-w-lg">
            <span class="text-sm text-blue-600 bg-blue-200 px-5 py-1 rounded-full ">{{items.for}}</span>
            <h1 class="text-lg lg:text-2xl  font-medium mt-3 md:mt-0">{{items.title}}</h1>
            <div class="mt-10 text-zinc-500 font-light">
              <p>{{items.content}}
              </p>
            </div>
          </div>
          <div class="w-[17rem] h-[12rem] lg:w-[18rem] lg:h-[18rem] absolute  bottom-[-13rem] left-1/2  lg:bottom-0 lg:top-1/2 transform lg:translate-x-1/2 -translate-x-1/2 -translate-y-1/2" >
            <img class="img-cover rounded-xl" src="{{items.img}}" alt="img" >
          </div>
        </section>

    </div>
      </div>
    </div>
  </div>
  <!-- secion 2 -->
  <!-- section 3 -->
  <div class="flex justify-between items-center p-5 lg:p-10">
    <div class="w-full lg:w-1/2 flex justify-center">
      <div class="w-full lg:w-9/12">
        <h1 class="header-text font-semibold">Innovators Build Things</h1>
        <p class="mt-10">They build them using various materials and processes.</p>
        <p class="mt-2">Materials are the core elements of engineering, a source of differentiation in any product or
          process.</p>
        <p class="mt-2">In the process of developing a new product or process for material selection and procurement,
          innovators waste 60-70% of their product development time, money and resources using ‘ trial and error’
          methodology.</p>
      </div>
    </div>
    <div class="w-1/2 lg:flex justify-center hidden ">
      <div class="w-[30rem] h-[30rem]" data-aos="zoom-out-right">
        <img  class="img-cover rounded-3xl"
          src="https://images.unsplash.com/photo-1604411853851-8b4d5d910545?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80"
          alt="">
      </div>
    </div>
  </div>
  <!-- section 3 -->
  <!-- video -->
  <div class="py-10 mt-10">
    <div class="flex justify-center p-5">
      <div class="w-full md:w-11/12 bg-secondary h-[25rem] rounded-3xl p-3 pt-6 lg:p-10 flex justify-center">
        <h1 class="text-lg md:text-2xl md:w-4/5 lg:w-9/12 text-center text-white font-light md:font-normal">In order to test new attributes and property sets for their
          products, innovators test approximately five to six raw materials for each part or process and fifteen to
          twenty raw materials for each product.</h1>
      </div>
    </div>
    <div class="flex justify-center p-10">
      <div class="w-full lg:w-1/2 h-auto lg:h-[25rem] mt-[-15rem] ">
        <iframe class="w-full h-full rounded-3xl" src="https://www.youtube.com/embed/Uv-DRv0w-Jw"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <!-- video -->
  <!-- mobile matrial -->
  <div class="p-10  justify-center hidden">
    <div class="w-3/5">
      <img class="img-contain" src="../../../assets/asserts/mobile-matrials.png" alt="">
    </div>
  </div>
  <!-- mobile matrial -->
  <!-- give away -->
  <div class="py-10 pb-0 relative ">
    <div class="w-full h-[23rem] bg-gradient-to-r from-[#192442]  to-black flex justify-center items-center px-2">
      <div class="lg:w-1/2 text-center">
        <div class="leading-[3rem]">
          <h1 class="header-text text-white">Give Away</h1>
          <p class="text-lg md:text-2xl text-zinc-400">In form of Product Development resource</p>
        </div>
        <p class="text-sm text-white mt-3 font-light">Are you someone who wants to empower or Sponsor the Innovators
          through services?</p>
        <button class="bg-primary py-2 px-8 text-white mt-8 rounded-lg" routerLink="/beta">Join Beta Now!</button>
      </div>
    </div>
    <!--  -->
    <div class="absolute hidden lg:block z-0 bottom-[25%] right-[40%]">
      <img class="h-[4.5rem]" src="../../../assets/asserts/3dasserts/lab-dynamic-color.png" alt="">
    </div>

    <div class="absolute hidden lg:block z-20 top-[30%] right-[27%] ">
      <img class="h-[5rem]" src="../../../assets/asserts/3dasserts/polegon-gold-4000x4000.png" alt="">
    </div>

    <div class="absolute hidden lg:block z-0 bottom-[15%] left-[30%]">
      <img class="h-[7rem]" src="../../../assets/asserts/3dasserts/spring-black-4000x4000.png" alt="">
    </div>

    <div class="absolute hidden lg:block z-0 top-[2.5rem] left-[21%]">
      <img class="w-[8rem]" src="../../../assets/asserts/3dasserts/Triple knot-gold-4000x4000.png" alt="">
    </div>
  </div>
  <!-- give away -->
  <!-- subs email -->
  <div class="p-5 lg:p-10">
    <div class="md:flex justify-between items-center">
      <div class="leading-10 ">
        <p class="text-lg md:text-2xl">Subscribe To our</p>
        <p class="header-text text-secondary">Daily Newletters</p>
      </div>
      <div class="flex items-center gap-x-4 mt-5 md:mt-0 lg:w-1/4">
        <input type="text" class="p-2 bg-zinc-200 border-0 rounded-md w-full " placeholder="Enter your email">
        <button class="bg-secondary  text-white px-5 py-2 rounded-md">Send</button>
      </div>
    </div>
  </div>
  <!-- subs email -->
</div>




<app-footer></app-footer>
