<app-navbar></app-navbar>
<div class="min-h-[70vh]">

<!-- header -->
<div class="flex justify-center items-center w-full h-[70vh] relative">
  <div class="max-w-3xl text-center relative z-10">
    <p class="hero-s-text leading-[4rem] capitalize font-semibold">Empowering the Work hidden <span class="text-primary"> Inventory</span></p>
    <p class="mt-5 text-sm text-zinc-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, laboriosam cum, similique architecto labore, obcaecati suscipit rem doloribus voluptates veniam debitis asperiores! Quasi nam ea architecto rem maxime amet quas.</p>
    <button class="bg-secondary text-white mt-8 px-8 py-2 rounded-md" (click)="btn()">Join Beta Now!</button>
  </div>

  <div id="toggle">kjbjk</div>

  <div #myElementRef class="absolute z-0 bottom-[4rem] right-[40%]">
    <img class="h-[4.5rem]" src="../../../assets/asserts/3dasserts/lab-dynamic-color.png" alt="">
  </div>

  <div class="absolute z-20 top-[33%] right-[27%]">
    <img class="h-[5rem]" src="../../../assets/asserts/3dasserts/polegon-gold-4000x4000.png" alt="">
  </div>


  <div class="absolute z-0 bottom-0 left-[30%]">
    <img class="h-[7rem]" src="../../../assets/asserts/3dasserts/spring-black-4000x4000.png" alt="">
  </div>


  <div class="absolute z-0 top-[2.5rem] left-[21%]">
    <img class="w-[8rem]" src="../../../assets/asserts/3dasserts/Triple knot-gold-4000x4000.png" alt="">
  </div>

</div>
<!-- header -->
</div>
<app-footer></app-footer>
