<app-navbar></app-navbar>
<div class="min-h-[70vh]">

<!-- header -->
<div class="flex justify-center items-center w-full h-[100vh] relative">
  <div class="max-w-3xl text-center relative z-10">
    <p class="hero-s-text leading-[4rem] capitalize font-semibold">Empowering the Work hidden <span class="text-primary"> Inventory</span></p>
    <p class="mt-5 text-sm text-zinc-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, laboriosam cum, similique architecto labore, obcaecati suscipit rem doloribus voluptates veniam debitis asperiores! Quasi nam ea architecto rem maxime amet quas.</p>
    <button class="bg-secondary text-white mt-8 px-8 py-2 rounded-md" routerLink="/join-beta">Join Beta Now!</button>
  </div>


  <div #myElementRef class="absolute z-0 bottom-[25%] right-[40%]">
    <img class="h-[4.5rem]" src="../../../assets/asserts/3dasserts/lab-dynamic-color.png" alt="">
  </div>

  <div class="absolute z-20 top-[40%] right-[27%]">
    <img class="h-[5rem]" src="../../../assets/asserts/3dasserts/polegon-gold-4000x4000.png" alt="">
  </div>


  <div class="absolute z-0 bottom-[15%] left-[30%]">
    <img class="h-[7rem]" src="../../../assets/asserts/3dasserts/spring-black-4000x4000.png" alt="">
  </div>


  <div class="absolute z-0 top-[2.5rem] left-[21%]">
    <img class="w-[8rem]" src="../../../assets/asserts/3dasserts/Triple knot-gold-4000x4000.png" alt="">
  </div>

</div>
<!-- header -->

<!-- secion 2 -->
<div class="p-10">
  <h1 class="text-center header-text font-semibold">What we Offers?</h1>
  <div class="grid grid-flow-col grid-cols-3 mt-10">
    <div class="col-span-1 flex justify-center relative ">
      <div class="sticky top-16 left-0  h-[25rem]">
        <ul class="spy-scroll-navbar ">
          <li><a  class="spy-scroll-links active ">
            <div class="flex items-center gap-x-5">
              <span class="">1</span>
              <p>Matrial Selection</p>
            </div>
          </a></li>
          <li><a href="" class="spy-scroll-links">
            <div class="flex items-center gap-x-5">
              <span class=" ">2</span>
              <p>Matrial Procurement</p>
            </div>
          </a></li>
          <li><a href="" class="spy-scroll-links">
            <div class="flex items-center gap-x-5">
              <span class=" ">3</span>
              <p>Data Measurement</p>
            </div>
          </a></li>
        </ul>
      </div>
    </div>
    <div class="col-span-2 ">

      <section id="spy-scroll-sec-1" class="bg-zinc-100 max-w-3xl p-10 rounded-2xl relative ">
        <div class="max-w-lg">
        <h1 class="text-2xl  font-medium">We provide service for innovator and researchers to select there raw matrial</h1>
        <div class="mt-10 text-zinc-500 font-light">
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam iure, reiciendis ut sunt animi molestiae quia obcaecati, eum doloribus labore ad sint corporis in minus, minima reprehenderit esse aliquid non?</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam iure, reiciendis ut sunt animi molestiae quia obcaecati, eum doloribus labore ad sint corporis in minus, minima reprehenderit esse aliquid non?</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam iure, reiciendis ut sunt animi molestiae quia obcaecati, eum doloribus labore ad sint corporis in minus, minima reprehenderit esse aliquid non?</p>
        </div></div>
        <div class="w-[18rem] h-[18rem] absolute top-[20%]  right-[-8rem]">
          <img class="img-cover rounded-xl" src="https://images.unsplash.com/photo-1585201731775-0597e1be4bfb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=415&q=80" alt="">
        </div>
      </section>

      <section id="spy-scroll-sec-2" class="bg-zinc-100 max-w-3xl p-10 rounded-2xl relative mt-10">
        <div class="max-w-lg">
        <h1 class="text-2xl  font-medium">We provide service for innovator and researchers to Procure there raw matrial from us</h1>
        <div class="mt-10 text-zinc-500 font-light">
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam iure, reiciendis ut sunt animi molestiae quia obcaecati, eum doloribus labore ad sint corporis in minus, minima reprehenderit esse aliquid non?</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam iure, reiciendis ut sunt animi molestiae quia obcaecati, eum doloribus labore ad sint corporis in minus, minima reprehenderit esse aliquid non?</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam iure, reiciendis ut sunt animi molestiae quia obcaecati, eum doloribus labore ad sint corporis in minus, minima reprehenderit esse aliquid non?</p>
        </div></div>
        <div class="w-[18rem] h-[18rem] absolute top-[20%]  right-[-8rem]">
          <img class="img-cover rounded-xl" src="https://images.unsplash.com/photo-1614935151651-0bea6508db6b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1225&q=80" alt="">
        </div>
      </section>

      <section id="spy-scroll-sec-3" class="bg-zinc-100 max-w-3xl p-10 rounded-2xl relative mt-10">
        <div class="max-w-lg">
        <h1 class="text-2xl  font-medium">We provide service for innovator and researchers for data measurement</h1>
        <div class="mt-10 text-zinc-500 font-light">
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam iure, reiciendis ut sunt animi molestiae quia obcaecati, eum doloribus labore ad sint corporis in minus, minima reprehenderit esse aliquid non?</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam iure, reiciendis ut sunt animi molestiae quia obcaecati, eum doloribus labore ad sint corporis in minus, minima reprehenderit esse aliquid non?</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam iure, reiciendis ut sunt animi molestiae quia obcaecati, eum doloribus labore ad sint corporis in minus, minima reprehenderit esse aliquid non?</p>
        </div></div>
        <div class="w-[18rem] h-[18rem] absolute top-[20%]  right-[-8rem]">
          <img class="img-cover rounded-xl" src="https://images.unsplash.com/photo-1608037222022-62649819f8aa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
        </div>
      </section>

    </div>
  </div>
</div>
<!-- secion 2 -->
<!-- section 3 -->
<div class="flex justify-between items-center p-10">
  <div class="w-1/2 flex justify-center">
    <div class="w-9/12">
      <h1 class="header-text font-semibold">ProducTRY Technology Base Platform</h1>
      <p class="mt-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima magni dolorem, eveniet vero incidunt quia quam numquam quibusdam dolore? Numquam ut placeat dolorem nemo consequuntur culpa, doloribus in voluptatem inventore.</p>
    </div>
  </div>
  <div class="w-1/2 flex justify-center">
    <div class="w-[30rem] h-[30rem]">
      <img class="img-cover rounded-3xl" src="https://images.unsplash.com/photo-1604411853851-8b4d5d910545?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" alt="">
    </div>
  </div>
</div>
<!-- section 3 -->
<!-- video -->
<div class="p-10 mt-10">
  <div class="flex justify-center">
    <div class="w-11/12 bg-secondary h-[25rem] rounded-3xl p-10 flex justify-center">
      <h1 class="text-2xl w-9/12 text-center text-white">In  order to test new attribute and property set for their products,Innovator test five to six raw matrial for each part of process</h1>
    </div>
  </div>
  <div class="flex justify-center">
    <div class="w-1/2 h-[25rem] mt-[-15rem] mx">
      <iframe class="w-full h-full rounded-3xl" src="https://www.youtube.com/embed/Uv-DRv0w-Jw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</div>


<!-- video -->

</div>




<app-footer></app-footer>
