nav ul li a.active {font-weight: bold;}
.spy-scroll-links span{width: 3rem;height: 3rem;color: white; background: gray;border-radius: 50%;display: flex;justify-content: center;align-items: center;}
.spy-scroll-links.active{font-weight: 700;}
.spy-scroll-links div{transition: all .5 ease-in-out;}
.spy-scroll-links.active  div{ background-color: rgb(255, 255, 255) !important;box-shadow: 5px 5px 0px 0px #3E82FC;border: 2px solid #3E82FC;}
.spy-scroll-links.active span{background: #3E82FC;color: white;}












