<div class="p-5 lg:p-10 xl:p-16 ">
<h1 class="text-center header-text font-semibold">Our Team</h1>

<div class="grid grid-cols-1 lg:grid-cols-3 mt-10">
  <div class="col-span-1 leading-10 hidden lg:block">
    <ul class="">
      <li><a  class="show-team-btn text-xl out-team-btn cursor-pointer active" (click)="showTeamData()">Team</a></li>
      <li><a  class="show-mentors-btn text-xl out-team-btn cursor-pointer hidden" (click)="showMentorsData()">Mentors</a></li>
    </ul>

  </div>
  <div class="col-span-1 lg:col-span-2 our-team-carousel">
    <ng-container *ngIf="showTeam;else showMentors" >
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let items of teamData">
          <div id="{{items.id}}" class="w-[18rem] h-[27rem] relative profile-card">
            <img class="progfile-img img-cover absolute top-0 left-0" src="https://images.unsplash.com/photo-1610088441520-4352457e7095?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fG1lbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="profile">
            <div class="w-full h-full p-5 flex flex-col justify-between text-white">
              <div><p>~ {{items.designation}}</p></div>
              <div>
                <p class="text-xl font-semibold">{{items.name}}</p>
                <div class="profile-summery overflow-hidden">
                  <p id="summary-{{items.id}}" class=" text-xs font-light mt-3" >{{items.summary}}</p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </ng-container>
    <!-- mentor -->
    <ng-template #showMentors>
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let items of mentorData">
          <div id="{{items.id}}" class="w-[18rem] h-[27rem] relative profile-card">
            <img class="progfile-img img-cover absolute top-0 left-0" src="https://images.unsplash.com/photo-1610088441520-4352457e7095?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fG1lbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="profile">
            <div class="w-full h-full p-5 flex flex-col justify-between text-white">
              <div><p>~ {{items.designation}}</p></div>
              <div>
                <p class="text-xl font-semibold">{{items.name}}</p>
                <div class="profile-summery overflow-hidden">
                  <p id="summary-{{items.id}}" class=" text-xs font-light mt-3" >{{items.summary}}</p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </ng-template>
  </div>
</div>


</div>
